<section class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-12 quiq-links-footer">
        <div class="row justify-content-center">
          <div class="col-md-4 col-6">
            <h5 class="quiq-links-footer-title">Quick Links</h5>
            <ul class="quiq-links-footer-ul">
              <li><a href="/about">About Educloud</a></li>
              <li><a href="/why-us">Why Educloud</a></li>
              <li><a href="/contact">Contact us</a></li>
              <li><a href="/customer-support">Customer Support</a></li>
              <li><a href="/videos">Videos</a></li>
              <li><a href="/terms-and-conditions">Terms & Conditions</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-6">
            <h5 class="quiq-links-footer-title">Hosting</h5>
            <ul class="quiq-links-footer-ul">
              <li><a href="/hespia-cp">Hespia CP</a></li>
              <li><a href="/hespia-vs-cpanel">Hespia vs cPanel</a></li>
              <li><a href="/domain-manager">Domain Manager</a></li>
              <li><a href="/file-manager">File Manager</a></li>
              <li><a href="/email-manager">Email Manager</a></li>
              <li><a href="/web-accelerators">Web Accelerator</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5 class="quiq-links-footer-title">Articles</h5>
            <ul class="quiq-links-footer-ul">
              <li>
                <a href="/web-hosting-articles">Web Hosting Articles</a>
              </li>
              <li><a href="/best-web-hosting">Best Web Hosting</a></li>
              <li><a href="/domain-web-hosting">Domain Web Hosting</a></li>
              <li>
                <a href="/how-cpanel-hosting-works">How cPanel Hosting Works</a>
              </li>
              <li><a href="/ssl-certificates">SSL Certificates</a></li>
              <li><a href="/vps-hosting">VPS Hosting</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-12 justify-content-between">
        <h5 class="quiq-links-footer-title">Contact</h5>
        <ul class="quiq-links-footer-ul">
          <li><a href="mailto:ask@educatial.com">ask@educatial.com</a></li>
          <li><a href="tel:09069489382">09069489382</a></li>
          <li><a href="tel:09088888211">09088888211</a></li>
          <li>
            <a href=""
              >Carlton Gate Estate <br />
              Chevron Drive <br />
              Lekki, Lagos</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="mr-tp-40 row justify-content-between footer-area-under">
      <div class="col-md col-12 d-flex align-items-center">
        <a href="#"><img class="footer-logo-blue" src="img/logo.png" alt /></a>
        <div class="footer-social-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-dribbble"></i></a>
          <a href="#"><i class="fab fa-google"></i></a>
        </div>
      </div>
    </div>

    <div class="row justify-content-between final-footer-area mr-tp-40">
      <div class="col-md col-12">
        <div class="final-footer-area-text">
          EduCloud © Copyright
          <script>
            document.write(new Date().getFullYear());
          </script>
          .
        </div>
      </div>
      <div class="col-md col-12 d-flex justify-content-end">
        <div class="footer-lang-changer">
          <div class="lang-changer-drop-up">
            <a
              class="menu-btn-changer"
              role="button"
              id="dropupmenulagchanger"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              href="#"
              ><i class="fas fa-globe-asia"></i> english</a
            >
            <div
              class="dropdown-menu dropupmenulagchanger"
              aria-labelledby="dropupmenulagchanger"
            >
              <a class="dropdown-item" href="#">english</a>
              <a class="dropdown-item" href="#">العربية</a>
              <a class="dropdown-item" href="#">Español</a>
              <a class="dropdown-item" href="#">Nederlands</a>
              <a class="dropdown-item" href="#">Français</a>
              <a class="dropdown-item" href="#">Dansk</a>
              <a class="dropdown-item" href="#">Português</a>
              <a class="dropdown-item" href="#">Deutsch</a>
            </div>
          </div>

          <div class="lang-changer-drop-up">
            <a class="menu-btn-changer" href="#"
              ><img src="img/flags/usa.svg" alt /> united states</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script
  data-cfasync="false"
  src="../../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
></script>
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>

<script src="js/bootstrap.min.js"></script>

<script src="js/template-scripts.js"></script>

<script src="js/flickity.pkgd.min.js"></script>

<script src="owlcarousel/owl.carousel.min.js"></script>

<script src="js/parallax.min.js"></script>

<script src="js/mailchamp.js"></script>

<script src="js/bootstrap.offcanvas.min.js"></script>

<script src="js/jquery.touchSwipe.min.js"></script>

<script src="js/particles-code.js"></script>
<script src="js/particles.js"></script>
<script src="js/smoothscroll.js"></script>
<script
  src="../../../../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
  data-cf-settings="ef631a89a17568ab50d7ac26-|49"
  defer
></script>
<script>
  (function () {
    var js =
      "window['__CF$cv$params']={r:'7b6ae930abc50710',m:'wgJ6k7dbSuBBcUGiFKDF1sUJoI9shha_MrBwBuYBw78-1681296653-0-AX6vJr66eN6tHOE1VbCsk5H81LmENVu6JhRhJRPI0z+g',u:'/cdn-cgi/challenge-platform/h/b'};var now=Date.now()/1000,offset=14400,ts=''+(Math.floor(now)-Math.floor(now%offset)),_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='/cdn-cgi/challenge-platform/h/b/scripts/alpha/invisible.js?ts='+ts,document.getElementsByTagName('head')[0].appendChild(_cpo);";
    var _0xh = document.createElement("iframe");
    _0xh.height = 1;
    _0xh.width = 1;
    _0xh.style.position = "absolute";
    _0xh.style.top = 0;
    _0xh.style.left = 0;
    _0xh.style.border = "none";
    _0xh.style.visibility = "hidden";
    document.body.appendChild(_0xh);
    function handler() {
      var _0xi = _0xh.contentDocument || _0xh.contentWindow.document;
      if (_0xi) {
        var _0xj = _0xi.createElement("script");
        _0xj.nonce = "";
        _0xj.innerHTML = js;
        _0xi.getElementsByTagName("head")[0].appendChild(_0xj);
      }
    }
    if (document.readyState !== "loading") {
      handler();
    } else if (window.addEventListener) {
      document.addEventListener("DOMContentLoaded", handler);
    } else {
      var prev = document.onreadystatechange || function () {};
      document.onreadystatechange = function (e) {
        prev(e);
        if (document.readyState !== "loading") {
          document.onreadystatechange = prev;
          handler();
        }
      };
    }
  })();
</script>
