<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body>

        <%- include('../partials/header'); %>
	
	
	<div class="bg-default-2 mx-md-15 mx-5 py-20 mt-24">
	<div class="container text-center">
    <h1 class="coodiv-text-2 font-weight-bold">About Us.</h1>
    <div class="col-lg-6 mx-auto">
      <p class="coodiv-text-9">We, at educloud, are no different than our clients - we too want the service or product that we purchase to work properly, so that we won't need to waste extra time in an attempt to make it work properly. That is why we made the decision to establish our own web hosting company - so that we could supply the service that we ourselves would like to use.<p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-10">
      </div>
    </div>
    </div>
	</div>

    <section class="our-pertners mr-tp-0">
        <div class="container">
            <h2 class="d-none">our pertners</h2>
            <div class="owl-carousel pertners-carousel owl-theme">
                <div class="item">
                    <a href="#"> <img src="img/pertners/logo1.png" alt /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="img/pertners/logo2.png" alt /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="img/pertners/logo3.png" alt /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="img/pertners/logo4.png" alt /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="img/pertners/logo5.png" alt /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="img/pertners/logo1.png" alt /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="img/pertners/logo2.png" alt /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="img/pertners/logo3.png" alt /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="img/pertners/logo4.png" alt /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="img/pertners/logo5.png" alt /> </a>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-20 pb-md-20 pb-5 position-relative">
        <div class="container">
            <div class="row justify-content-between">

                <div class="col-md-4 side-text-right-container">
                        <p style="color: #ee9823;" class="eyebrow content-text-author_eyebrow">Super fast development</p>
                        <h3 class="coodiv-text-4 font-weight-bold">Yep, We’re here for you, Always</h3>
                        <p class="content_text_author_description_p">We're here with the help and advice you need to bring your idea to life. When you're ready to get online, we're prepped, trained, and ready to guide you from start to success.</p>
                        <a href="dedicated.html" class="btn btn-dark coodiv-text-11 mt-10">See all plans and pricing</a>
                </div>

                <div class="col-md-7 our-services-carousel-container">
                    <div class="our-services-carousel">
                        <div class="carousel-cell">
                            <div class="our-services-coresol-box">
                                <i style="color: #ff2934;" class="fab fa-wordpress"></i>
                                <h5>SSL Certificates</h5>
                                <p>A step-by-step guide to request an SSL certificate and install it.</p>
                            </div>
                        </div>

                        <div class="carousel-cell">
                            <div class="our-services-coresol-box">
                                <i style="color: #ee9823;" class="fal fa-database"></i>
                                <h5>Linux Hosting</h5>
                                <p>Check out our tour of your account Dashboard, WordPress, and cPanel.</p>
                            </div>
                        </div>

                        <div class="carousel-cell">
                            <div class="our-services-coresol-box">
                                <i style="color: #2ab8ae;" class="far fa-globe-africa"></i>
                                <h5>Managed WordPress</h5>
                                <p>building and maintaining websites easier---and more profitable.</p>
                            </div>
                        </div>

                        <div class="carousel-cell">
                            <div class="our-services-coresol-box">
                                <i style="color: #19d681;" class="fal fa-apple-crate"></i>
                                <h5>Workspace Email</h5>
                                <p>Build your brand and show the world you mean business with a domain.</p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>
	
	<section class="pt-20 pb-25 border-top">
        <div class="container">
		
		   	<div class="row justify-content-start">
                <div class="col-md-6 col-12">
                    <div style="background-color: #ff5059;" class="section_text_graphic_image">
                        <img src="img/demo/features/red-feature.png" alt title loading="lazy">
                    </div>
                </div>
                <div class="col-md-6 col-12 d-flex align-items-center">
                    <div class="content-text-author mt-md-0 mt-14">
                        <p style="color: #ff2934;" class="eyebrow content-text-author_eyebrow">MANAGED WORDPRESS ECOMMERCE</p>
                        <h3 class="coodiv-text-4 font-weight-bold">WooCommerce offers powerful online stores.</h3>
                        <p class="content_text_author_description_p">Managed WordPress Ecommerce offers hassle-free online store setup, built-in speed and performance, plus free access to over 40 WooCommerce extensions.</p>
                        <p class="content_text_author_description_p">Build client sites quickly with the latest version of WordPress installed. From there you can start from scratch or save time picking from dozens of flexible, editable themes.</p>
                        <a href="wordpress.html" class="btn btn-dark coodiv-text-11 mt-10">Get started now</a>
                    </div>
                </div>
            </div>
		
            <div class="row justify-content-start  mt-22">
                <div class="col-md-6 col-12 d-flex align-items-center">
                    <div class="content-text-author mb-md-0 mb-14">
                        <p style="color: #ee9823;" class="eyebrow content-text-author_eyebrow">Super fast development</p>
                        <h3 class="coodiv-text-4 font-weight-bold">Dedicated Server Hosting for system admins and developers.</h3>
                        <p class="content_text_author_description_p">Calling all experienced developers, system admins or agencies seeking powerful server capabilities: our Dedicated Server Hosting provides high-performance server options with isolated resources to run mission-critical applications where latency and uptime matters.</p>
                        <p class="content_text_author_description_p">All plans come with free standard hosting support. Optional paid server management services include fully managed support and task-based services.</p>
                        <a href="servers.html" class="btn btn-dark coodiv-text-11 mt-10">Configure your Server now</a>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div style="background-color: #fede48;" class="section_text_graphic_image">
                        <img src="img/demo/features/yellow-feature.png" alt title loading="lazy">
                    </div>
                </div>
            </div>


		</div>
	</section>


    <section class="py-25 bg-default-2 position-relative how-it-work-section">
        <div class="container">
		<h5 class="title-default-coodiv-two">With our services, your business will look better than ever.<span>Earn your customers' trust with a professional email address that matches your business name.</span></h5>
            <div class="row justify-content-center mr-tp-70 how-it-work-section-row">
                <div class="col-md-4">
                    <div class="how-it-works-box">
                        <i class="fal fa-apple-crate"></i>
                        <h5>1-click install of over 150 free apps</h5>
                        <p>Get access to over 150 free apps to create CMS sites (WordPress, Joomla), forums and blogs through Installatron.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="how-it-works-box">
                       <i class="fal fa-debug"></i>
                        <h5>24/7 network security</h5>
                        <p>Get peace of mind, knowing network security and DDoS protection is monitored around the clock.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="how-it-works-box">
                        <i class="fal fa-shield-alt"></i>
                        <h5>Global data centers</h5>
                        <p>Get faster page loads and better visitor experience with nearby, state-of-the-art data centers in North America, Europe or Asia-Pacific.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
	
	<section class="py-20">
        <div class="container">
            <h5 class="title-default-coodiv-two">Why use Watermelon’s statistics?</h5>

            <div class="row justify-content-center mt-10">
                <div class="col-md-4">
                    <div class="coodiv-feutres-black-version">
                        <i style="background:#88f6ec;" class="fad fa-chart-pie"></i>
                        <div class="text">
                            <h5 class="coodiv-text-7 font-weight-bold mb-0">Fast speed — CPU and RAM.</h5>
                            <p class="coodiv-text-11 font-weight-light">Get the super-fast speed you're looking for with dedicated CPU and RAM, the processing and memory resources that power fast sites.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="coodiv-feutres-black-version">
                        <i style="background:#79f9c0;" class="fad fa-bell"></i>
                        <div class="text">
                            <h5 class="coodiv-text-7 font-weight-bold mb-0">1-click install — over 150 free apps.</h5>
                            <p class="coodiv-text-11 font-weight-light">Get access to over 150 free apps to create CMS sites (WordPress, Joomla), forums and blogs through Installatron.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="coodiv-feutres-black-version">
                        <i style="background:#fede48;" class="fad fa-binoculars"></i>
                        <div class="text">
                            <h5 class="coodiv-text-7 font-weight-bold mb-0">Global data centers.</h5>
                            <p class="coodiv-text-11 font-weight-light">Get faster page loads and better visitor experience with nearby, state-of-the-art data centers in North America.</p>
                        </div>
                    </div>
                </div>
            </div>
			
			
			<div class="cta-row-careers mt-20">
			<div class="cta-row-careers_container">
			<h3>Need A Self-Managed VPS?</h3>
			<p class="body-lg">We also offer self-managed VPS hosting plans starting at $ 4.99/mo.</p>
			<a href="vps-reseller.html" tabindex="0">Read more</a>
		    </div>
		    </div>
		
		
		</div>
	</section>

    <section class="padding-20-0-100">
        <div class="container">
            <h5 class="title-default-coodiv-two">what our customers <br>are saying about us <span>Get to know the faces of Watermelon. The team is full of passion and drive, working incessantly to create the best and most beautiful chatbot software. We’re always here to help!</span></h5>

            <div class="carousel-main-customers-container mr-tp-40 d-flex mx-auto flex-column">
                <div class="mb-auto"></div>
                <div class="carousel-main-customers-text">
                    <div class="carousel-cell">
                        <div class="main-customers-text-about-us">
                            <h5>simply dummy text of the printing</h5>
                            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy, simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                            <span><b>nedjai mohamed</b>coodiv</span>
                        </div>
                    </div>

                    <div class="carousel-cell">
                        <div class="main-customers-text-about-us">
                            <h5>simply dummy text of the printing</h5>
                            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy, simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                            <span><b>nedjai mohamed</b>coodiv</span>
                        </div>
                    </div>

                    <div class="carousel-cell">
                        <div class="main-customers-text-about-us">
                            <h5>simply dummy text of the printing</h5>
                            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy, simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                            <span><b>nedjai mohamed</b>coodiv</span>
                        </div>
                    </div>

                    <div class="carousel-cell">
                        <div class="main-customers-text-about-us">
                            <h5>simply dummy text of the printing</h5>
                            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy, simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                            <span><b>nedjai mohamed</b>coodiv</span>
                        </div>
                    </div>

                    <div class="carousel-cell">
                        <div class="main-customers-text-about-us">
                            <h5>simply dummy text of the printing</h5>
                            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy, simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                            <span><b>nedjai mohamed</b>coodiv</span>
                        </div>
                    </div>

                    <div class="carousel-cell">
                        <div class="main-customers-text-about-us">
                            <h5>simply dummy text of the printing</h5>
                            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy, simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                            <span><b>nedjai mohamed</b>coodiv</span>
                        </div>
                    </div>

                </div>
                <div class="mt-auto"></div>

                <div class="carousel-nav-customers-text">

                    <div class="carousel-cell">
                        <div class="carousel-customrs-holder">
                            <img src="https://demo.coodiv.net/html/bredh/html/new-version/img/demo/faces/member1.jpg" alt>
                            <a class="fb customrs-icons" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="tw customrs-icons" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="wb customrs-icons" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>

                    <div class="carousel-cell">
                        <div class="carousel-customrs-holder">
                            <img src="https://demo.coodiv.net/html/bredh/html/new-version/img/demo/faces/member2.jpg" alt>
                            <a class="fb customrs-icons" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="tw customrs-icons" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="wb customrs-icons" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>

                    <div class="carousel-cell">
                        <div class="carousel-customrs-holder">
                            <img src="https://demo.coodiv.net/html/bredh/html/new-version/img/demo/faces/member3.jpg" alt>
                            <a class="fb customrs-icons" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="tw customrs-icons" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="wb customrs-icons" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>

                    <div class="carousel-cell">
                        <div class="carousel-customrs-holder">
                            <img src="https://demo.coodiv.net/html/bredh/html/new-version/img/demo/faces/member4.jpg" alt>
                            <a class="fb customrs-icons" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="tw customrs-icons" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="wb customrs-icons" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>

                    <div class="carousel-cell">
                        <div class="carousel-customrs-holder">
                            <img src="https://demo.coodiv.net/html/bredh/html/new-version/img/demo/faces/member5.jpg" alt>
                            <a class="fb customrs-icons" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="tw customrs-icons" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="wb customrs-icons" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>

                    <div class="carousel-cell">
                        <div class="carousel-customrs-holder">
                            <img src="https://demo.coodiv.net/html/bredh/html/new-version/img/demo/faces/member6.jpg" alt>
                            <a class="fb customrs-icons" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="tw customrs-icons" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="wb customrs-icons" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <%- include('../partials/footer') %>
</body>

</html>