<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body>

        <%- include('../partials/header'); %>

            <main class="container mt-25">
                <div class="row">
                    <div class="col-md-5 pt-15">
                        <span class="main-header-top-title">Contact us</span>
                        <p>To get a comprehensive answer from one of our customer support staff members, we recommend
                            that you specify in detail the nature of your inquiry in this online form. The more info you
                            include, the more satisfactory and detailed our reply will be.</p>

                        <p>All fields must be filled out with the exception of those marked as optional.</p>
                        <div class="contact-us-social-icons">
                            <a class="fb" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="tw" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="yb" href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <form class="row form-contain-home contact-page-form-send" id="ajax-contact" method="post"
                            action="https://demo.coodiv.net/html/bredh/html/new-version/mailer.php">

                            <h5>get in touch <span>discover how our services can grow your business.</span></h5>
                            <div id="form-messages"></div>


                            <div class="col-md-12">

                                <div class="field input-field">
                                    <input class="form-contain-home-input" type="text" id="name" name="name"
                                        placeholder="Name" required>

                                    <i class="fas fa-user"></i>
                                </div>
                            </div>

                            <div class="col-md-12">

                                <div class="field input-field">
                                    <input class="form-contain-home-input" type="text" id="phone" name="phone"
                                        placeholder="Phone (optional)" required>

                                    <i class="fas fa-user"></i>
                                </div>
                            </div>


                            <div class="col-md-12">

                                <div class="field input-field">
                                    <input class="form-contain-home-input" type="email" id="email" name="email"
                                        placeholder="Email address" required>

                                    <i class="far fa-envelope"></i>
                                </div>
                            </div>

                            <div class="col-md-12">

                                <div class="field input-field">
                                    <input class="form-contain-home-input" type="text" id="subject" name="subject"
                                        placeholder="Subject" required>

                                </div>
                            </div>

                            <div class="col-md-12">

                                <div class="field input-field">
                                    <textarea class="form-contain-home-input" id="message" name="message"
                                        placeholder="Message" required></textarea>

                                </div>
                            </div>


                            <div class="btn-holder-contect">
                                <button type="submit">Send</button>

                            </div>

                        </form>

                    </div>
                </div>

            </main>
            </div>
            <section class="bg-default-2 position-relative how-it-work-section">
                <div class="container">
                    <!-- <h5 class="title-default-coodiv-two">With our services, your business will look better than ever.<span>Earn your customers' trust with a professional email address that matches your business name.</span></h5> -->
                    <div class="row justify-content-center mr-tp-70 how-it-work-section-row">
                        <div class="col-md-4">
                            <div class="how-it-works-box">
                                <!-- <i class="fa-sharp fa-regular fa-address-card"></i> -->
                                <i class="fal fa-address-card"></i>
                                <h5>Contact Details</h5>
                                <p><strong>US Toll Free Phone</strong>: <br> +1-855-211-0932 </p>
                                <p><strong>US International</strong>: <br> +1-727-546-HOST(4678) </p>
                                <p><strong>UK Phone</strong>: <br> +44-20-3695-1294 </p>
                                <p><strong>AU Phone</strong>: <br> +61-2-8417-2372 </p>
                                <p><strong>OUR ID</strong>: <br> 315284</p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="how-it-works-box">
                                <i class="fal fa-debug"></i>
                                <h5>Sales Lines Working Hours</h5>
                                <p><strong>Monday to Friday</strong>: <br> 10.00 AM - 06.00 PM GMT/UK <br> 05.00 AM -
                                    01.00 PM EST/USA <br> 08.00 PM - 04.00 AM EST/AU </p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="how-it-works-box">
                                <i class="fal fa-shield-alt"></i>
                                <h5>Check your server status</h5>
                                <p>To check the status of your server if you think there is a problem, please go to:
                                    <strong><a href="https://properstatus.com/">www.properstatus.com</a></strong> </p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <%- include('../partials/footer') %>
    </body>

</html>