<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body>

        <%- include('../partials/header'); %>
        <main class="py-25 bg-default-2">
            <div class="container">
        
                <div class="row justify-content-start">
                    <div class="col-md-8 col-12">
                        <div class="">
                            <p style="color: #079d63;"
                                class="eyebrow content-text-author_eyebrow">
                                Data Centers
                            </p>
                            <%- include('../partials/text-data-center-us') %>
                           
                            </p>
                            <a class="second-pricing-table-button text-center"
                                href="/order-now">Get started now</a>
        
                        </div>
                    </div>
                </div>
        
            </div>
        </main>
        <%- include('../partials/footer') %>
    </body>

</html>