<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body>

        <%- include('../partials/header'); %>

            <main class="container pt-30">

                <div class="row justify-content-center mb-9">
                    <div class="col-md-7 col-12 white-text text-center">
                        <span class="main-header-top-title mx-auto">Global Data Centers</span>
                        <h3 class="main-header-title coodiv-text-3 font-weight-bold">Check your Domain Availability
                        </h3>
                        <!-- <p class="coodiv-text-9">We make it easy for you to find the perfect name for your website or
                            business</p> -->
                    </div>
                </div>

                <div class="row justify-content-center mb-15">
                    <div class="col-md-8 col-12">
                        <form class="domain-search-form" action="#" method="GET">
                            <div class="domain-search position-relative">
                                <input class="domain-search-input-header pl-6" type="text" name="domain"
                                    data-role="input-typewrite" required aria-label="Register a Domain Name"
                                    placeholder="domain.info" />
                                <button type="submit"
                                    class="btn btn-warning domain-search-button-header position-absolute" role="button"
                                    aria-label="Search Domain Name">Search</button>
                            </div>
                        </form>
                        <!-- <div class="d-flex justify-content-between after-search-btns mt-3">
                            <a href="#">Bulk registration</a>
                            <a href="#">Bring your domains to Coodiv.cloud</a>
                        </div> -->
                    </div>
                </div>

            </main>

            </div>

            <section class="padding-50-0-10 position-relative">
                <div class="container">

                    <div class="row justify-content-left box-features-tree-container">
                        <div class="col-md-4 box-features-tree">
                            <i class="fas fa-chess-bishop"></i>
                            <h5>Top-level Cisco routers & switches</h5>
                            <p>as low as $3.75</p>
                            <a href="/order-now" class="text-center"
                                style="color: #2fd5c9;">Purchase now ></a>
                        </div>

                        <div class="col-md-4 box-features-tree">
                            <i class="far fa-smile-wink"></i>
                            <h5>Security card access and DVR camera systems</h5>
                            <p>as low as $3.75</p>
                            <a href="/order-now" class="text-center"
                                style="color: #2fd5c9;">Purchase now ></a>
                        </div>

                        <div class="col-md-4 box-features-tree">
                            <i class="fas fa-sync-alt"></i>
                            <h5>24x7 monitoring and support service</h5>
                            <p>as low as $3.75</p>
                            <a href="/order-now" class="text-center"
                                style="color: #2fd5c9;">Purchase now ></a>
                        </div>

                    </div>
                    <br> <br>


                    <div class="row justify-content-center mt-20">
                        <div class="col-md-6 col-12">
                            <div class="domains-result-boxes">
                                <div class="taken-domain-name">
                                    <span class="taken-alternative">Data center</span><span
                                        class="domain not-taken"><b>Sydney</b> Australia</span>
                                    <small>With us, you can host your Australian-oriented website in a top-of-the-line datacenter situated in the Sydney central business district. The SISGroup data center offers excellent web site load speeds and a large peering network.
                                    </small>
                                    <!-- <span class="domain-price">$3.99 <s>$11.99</s></span> -->
                                </div>
                                <div class="d-flex w-100 justify-content-start">
                                    <a href="/data-center-AU"
                                        class="btn btn-dark coodiv-text-11 mt-2">Learn more</a>
                                </div>
                                <!-- <div class="border-top w-100 pt-5 mt-7 coodiv-text-11">
                                    <i class="fal fa-lightbulb-on"></i> Why it's great? coodiv is 15 characters or less.
                                </div> -->
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="domains-result-boxes">
                                <div class="taken-domain-name">
                                    <span class="taken-alternative">Data center</span><span
                                        class="domain not-taken"><b>Berkshire</b> United Kingdom</span>
                                    <small>We work with a top-of-the-line data center located a few miles north-west of London, which has the highest level of security for you website and will guarantee you a fast web page load speed.</small>
                                    <!-- <span class="domain-price">$3.99 <s>$11.99</s></span> -->
                                </div>
                                <div class="d-flex w-100 justify-content-start">
                                    <a href="/data-center-UK"
                                        class="btn btn-dark coodiv-text-11 mt-2">Learn more</a>
                                </div>
                                <!-- <div class="border-top w-100 pt-5 mt-7 coodiv-text-11">
                                    <i class="fal fa-lightbulb-on"></i> Why it's great? coodiv is 15 characters or less.
                                </div> -->
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="domains-result-boxes">
                                <div class="taken-domain-name">
                                    <span class="taken-alternative">Data center</span><span
                                        class="domain not-taken"><b>Pori</b> Finland</span>
                                    <small>By selecting our Finnish data center, you ensure that your visitors from Northern Europe and from the Russian Federation will enjoy faster site loading times. The data center is based in a ex- army underground installation and has excellent connectivity.</small>
                                    <!-- <span class="domain-price">$3.99 <s>$11.99</s></span> -->
                                </div>
                                <div class="d-flex w-100 justify-content-start">
                                    <a href="/data-center-FI"
                                        class="btn btn-dark coodiv-text-11 mt-2">Learn more</a>
                                </div>
                                <!-- <div class="border-top w-100 pt-5 mt-7 coodiv-text-11">
                                    <i class="fal fa-lightbulb-on"></i> Why it's great? coodiv is 15 characters or less.
                                </div> -->
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="domains-result-boxes">
                                <div class="taken-domain-name">
                                    <span class="taken-alternative">Data center</span><span
                                        class="domain not-taken"><b>Sofia</b> Bulgaria</span>
                                    <small>The Telepoint data center provides exceptionall connectivity all accross Europe. It is operating in the country of Bulgaria, famous for having some of the fastest Internet access speed in the whole continent.</small>
                                    <!-- <span class="domain-price">$3.99 <s>$11.99</s></span> -->
                                </div>
                                <div class="d-flex w-100 justify-content-start">
                                    <a href="/data-center-BG"
                                        class="btn btn-dark coodiv-text-11 mt-2">Learn more</a>
                                </div>
                                <!-- <div class="border-top w-100 pt-5 mt-7 coodiv-text-11">
                                    <i class="fal fa-lightbulb-on"></i> Why it's great? coodiv is 15 characters or less.
                                </div> -->
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <%- include('../partials/footer') %>
    </body>

</html>