<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body>

        <%- include('../partials/header'); %>

            <main class="container pt-30">

                <div class="row justify-content-center mb-9">
                    <div class="col-md-7 col-12 white-text text-center">
                        <!-- <span class="main-header-top-title mx-auto">Search and buy available domain names</span> -->
                        <h3 class="main-header-title coodiv-text-3 font-weight-bold">Register a Top Level Domain Name Today!
                        </h3>
                        <p class="coodiv-text-9">We make it easy for you to find the perfect name for your website or
                            business</p>
                    </div>
                </div>

                <div class="row justify-content-center mb-15">
                    <div class="col-md-8 col-12">
                        <form class="domain-search-form" action="#" method="GET">
                            <div class="domain-search position-relative">
                                <input class="domain-search-input-header pl-6" type="text" name="domain"
                                    data-role="input-typewrite" required aria-label="Register a Domain Name"
                                    placeholder="domain.info" />
                                <button type="submit"
                                    class="btn btn-warning domain-search-button-header position-absolute" role="button"
                                    aria-label="Search Domain Name">Search</button>
                            </div>
                        </form>
                        <!-- <div class="d-flex justify-content-between after-search-btns mt-3">
                            <a href="#">Bulk registration</a>
                            <a href="#">Bring your domains to Coodiv.cloud</a>
                        </div> -->
                    </div>
                </div>

            </main>

            </div>

            <section class="padding-50-0-10 position-relative">
                <div class="container">

                    <div class="row justify-content-left box-features-tree-container">
                        <div class="col-md-4 box-features-tree">
                            <i class="fas fa-chess-bishop"></i>
                            <h5>.ACADEMY</h5>
                            <p>as low as $29.49</p>
                            <a href="https://demo.educatial.store/login/" class="text-center"
                                style="color: #2fd5c9;">Purchase now ></a>
                        </div>

                        <div class="col-md-4 box-features-tree">
                            <i class="far fa-smile-wink"></i>
                            <h5>.EMAIL</h5>
                            <p>as low as $21.50</p>
                            <a href="https://demo.educatial.store/login/" class="text-center"
                                style="color: #2fd5c9;">Purchase now ></a>
                        </div>

                        <div class="col-md-4 box-features-tree">
                            <i class="fas fa-sync-alt"></i>
                            <h5>.technology</h5>
                            <p>as low as $21.50</p>
                            <a href="https://demo.educatial.store/login/" class="text-center"
                                style="color: #2fd5c9;">Purchase now ></a>
                        </div>

                    </div>
                    <br> <br>
                    <div>
                        <h2>WHOIS Privacy Shield</h2>
                        <p>When you register domains, you have to provide accurate personal details for the domain name owner. And following ICANN rules, this information has to be publicly available - meaning that anyone with the required tools can look it up. However, there is a way to make sure your private details remain secured - with the help of the WHOIS Privacy Shield.
                        </p>
                    </div>
                    <br><br>
                    <div>
                        <h2>WHOIS Privacy Shield with Educloud</h2>
                        <p>Thanks to the WHOIS Privacy Shield Service by educloud, you can defend yourself against identity theft, protect your domain from hijacking, significantly reduce the risks of spam attacks against your private mailbox and significantly increase your overall domain security.</p>
                    </div>

                    <div class="row justify-content-center mt-20">
                        <div class="col-md-6 col-12">
                            <div class="domains-result-boxes">
                                <div class="taken-domain-name">
                                    <span class="taken-alternative">Modern Hosting Control Panel</span><span
                                        class="domain not-taken"><b>Hepsia</b> Control Panel</span>
                                    <small>Our Control Panel is very fast, amazingly responsive and extremely
                                        user-friendly. You will exert full control over your Internet site(s) and
                                        domain(s)
                                    </small>
                                    <!-- <span class="domain-price">$3.99 <s>$11.99</s></span> -->
                                </div>
                                <div class="d-flex w-100 justify-content-start">
                                    <a href="https://demo.educatial.store/login/"
                                        class="btn btn-dark coodiv-text-11 mt-2">View demo</a>
                                </div>
                                <!-- <div class="border-top w-100 pt-5 mt-7 coodiv-text-11">
                                    <i class="fal fa-lightbulb-on"></i> Why it's great? coodiv is 15 characters or less.
                                </div> -->
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="domains-result-boxes">
                                <div class="taken-domain-name">
                                    <span class="taken-alternative">Web App Installation</span><span
                                        class="domain not-taken"><b>App</b> Installer</span>
                                    <small>This tool gives you the ability to quickly install more than forty well-known
                                        web applications like Joomla, WordPress, Drupal and many more, with just a
                                        single click. You don't need to download a single thing</small>
                                    <!-- <span class="domain-price">$3.99 <s>$11.99</s></span> -->
                                </div>
                                <div class="d-flex w-100 justify-content-start">
                                    <a href="https://demo.educatial.store/login/"
                                        class="btn btn-dark coodiv-text-11 mt-2">View demo</a>
                                </div>
                                <!-- <div class="border-top w-100 pt-5 mt-7 coodiv-text-11">
                                    <i class="fal fa-lightbulb-on"></i> Why it's great? coodiv is 15 characters or less.
                                </div> -->
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="py-15 position-relative">
                <div class="container">

                    <div class="domain-ltd-prices row justify-content-center">
                        <div class="domain-ltd-prices-col col-12 row justify-content-between">
                            <div class="domain-name-wrap d-flex align-items-center col-md col-12">
                                <span class="spin-domain">
                                    <span class="name">doordash</span>
                                    <span class="ltd">. com</span>
                                </span>
                                <span class="restrictions">Restrictions apply.</span>
                            </div>

                            <div
                                class="domain-price-wrap d-flex align-items-center col-md col-12 justify-content-md-end">
                                <span class="ltd-wrap-price">
                                    <s>$ 11.99</s>
                                    <span>$3.99</span>
                                    <small>for the first year with a <b>2 year registration</b></small>
                                </span>
                                <a class="add-domain-to-cart" href="#"><i class="fal fa-cart-plus"></i></a>

                            </div>
                        </div>


                        <div class="domain-ltd-prices-col col-12 row justify-content-between">
                            <div class="domain-name-wrap d-flex align-items-center col-md col-12">
                                <span class="spin-domain">
                                    <span class="name">slapp</span>
                                    <span class="ltd">. xyz</span>
                                </span>
                                <span class="promoted-ltd">Promoted.</span>
                            </div>

                            <div
                                class="domain-price-wrap d-flex align-items-center col-md col-12 justify-content-md-end">
                                <span class="ltd-wrap-price">
                                    <s>$ 111.99</s>
                                    <span>$93.99</span>
                                    <small>for the first year with a <b>2 year registration</b></small>
                                </span>
                                <a class="add-domain-to-cart" href="#"><i class="fal fa-cart-plus"></i></a>

                            </div>
                        </div>

                        <div class="domain-ltd-prices-col col-12 row justify-content-between">
                            <div class="domain-name-wrap d-flex align-items-center col-md col-12">
                                <span class="spin-domain">
                                    <span class="name">fungi</span>
                                    <span class="ltd">. shop</span>
                                </span>
                                <span class="promoted-ltd">Promoted.</span>
                            </div>

                            <div
                                class="domain-price-wrap d-flex align-items-center col-md col-12 justify-content-md-end">
                                <span class="ltd-wrap-price">
                                    <s>$ 12.99</s>
                                    <span>$8.99</span>
                                    <small>for the first year with a <b>2 year registration</b></small>
                                </span>
                                <a class="add-domain-to-cart" href="#"><i class="fal fa-cart-plus"></i></a>

                            </div>
                        </div>

                        <div class="domain-ltd-prices-col col-12 row justify-content-between">
                            <div class="domain-name-wrap d-flex align-items-center col-md col-12">
                                <span class="spin-domain">
                                    <span class="name">sampling</span>
                                    <span class="ltd">. info</span>
                                </span>
                                <span class="promoted-ltd">Promoted.</span>
                            </div>

                            <div
                                class="domain-price-wrap d-flex align-items-center col-md col-12 justify-content-md-end">
                                <span class="ltd-wrap-price">
                                    <s>$ 16.99</s>
                                    <span>$7.99</span>
                                    <small>for the first year with a <b>2 year registration</b></small>
                                </span>
                                <a class="add-domain-to-cart" href="#"><i class="fal fa-cart-plus"></i></a>

                            </div>
                        </div>

                        <div class="domain-ltd-prices-col col-12 row justify-content-between">
                            <div class="domain-name-wrap d-flex align-items-center col-md col-12">
                                <span class="spin-domain">
                                    <span class="name">chooser</span>
                                    <span class="ltd">. online</span>
                                </span>
                                <span class="promoted-ltd">Promoted.</span>
                            </div>

                            <div
                                class="domain-price-wrap d-flex align-items-center col-md col-12 justify-content-md-end">
                                <span class="ltd-wrap-price">
                                    <s>$ 16.99</s>
                                    <span>$6.99</span>
                                    <small>for the first year with a <b>2 year registration</b></small>
                                </span>
                                <a class="add-domain-to-cart" href="#"><i class="fal fa-cart-plus"></i></a>

                            </div>
                        </div>

                        <div class="domain-ltd-prices-col col-12 row justify-content-between">
                            <div class="domain-name-wrap d-flex align-items-center col-md col-12">
                                <span class="spin-domain">
                                    <span class="name">vip</span>
                                    <span class="ltd">. org</span>
                                </span>
                            </div>

                            <div
                                class="domain-price-wrap d-flex align-items-center col-md col-12 justify-content-md-end">
                                <span class="ltd-wrap-price">
                                    <s>$ 5.99</s>
                                    <span>$0.99</span>
                                    <small>for the first year with a <b>2 year registration</b></small>
                                </span>
                                <a class="add-domain-to-cart" href="#"><i class="fal fa-cart-plus"></i></a>

                            </div>
                        </div>


                        <div class="domain-ltd-prices-col col-12 row justify-content-between">
                            <div class="domain-name-wrap d-flex align-items-center col-md col-12">
                                <span class="spin-domain">
                                    <span class="name">networkme</span>
                                    <span class="ltd">. club</span>
                                </span>
                            </div>

                            <div
                                class="domain-price-wrap d-flex align-items-center col-md col-12 justify-content-md-end">
                                <span class="ltd-wrap-price">
                                    <s>$ 113.99</s>
                                    <span>$87.99</span>
                                    <small>for the first year with a <b>2 year registration</b></small>
                                </span>
                                <a class="add-domain-to-cart" href="#"><i class="fal fa-cart-plus"></i></a>

                            </div>
                        </div>


                        <div class="domain-ltd-prices-col col-12 row justify-content-between">
                            <div class="domain-name-wrap d-flex align-items-center col-md col-12">
                                <span class="spin-domain">
                                    <span class="name">wedlock</span>
                                    <span class="ltd">. site</span>
                                </span>
                                <span class="promoted-ltd">Promoted.</span>
                            </div>

                            <div
                                class="domain-price-wrap d-flex align-items-center col-md col-12 justify-content-md-end">
                                <span class="ltd-wrap-price">
                                    <s>$ 11.99</s>
                                    <span>$2.99</span>
                                    <small>for the first year with a <b>2 year registration</b></small>
                                </span>
                                <a class="add-domain-to-cart" href="#"><i class="fal fa-cart-plus"></i></a>

                            </div>
                        </div>


                        <div class="domain-ltd-prices-col col-12 row justify-content-between">
                            <div class="domain-name-wrap d-flex align-items-center col-md col-12">
                                <span class="spin-domain">
                                    <span class="name">gbefun</span>
                                    <span class="ltd">. me</span>
                                </span>
                            </div>

                            <div
                                class="domain-price-wrap d-flex align-items-center col-md col-12 justify-content-md-end">
                                <span class="ltd-wrap-price">
                                    <s>$ 15.99</s>
                                    <span>$1.99</span>
                                    <small>for the first year with a <b>2 year registration</b></small>
                                </span>
                                <a class="add-domain-to-cart" href="#"><i class="fal fa-cart-plus"></i></a>

                            </div>
                        </div>


                    </div>
                </div>
            </section>

            <%- include('../partials/footer') %>
    </body>

</html>