<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body>

        <%- include('../partials/header'); %>


            <div class="bg-default-2 mx-5  pt-30 position-relative">
                <div class="container text-center">
                    <div class="col-lg-6 mx-auto">
                        <h1 class="coodiv-text-3 font-weight-bold">Low-Price Hosting Packages for Your TLDs
                        </h1>
                    </div>
                </div>

                <section class="pt-2 pb-25">
                    <div class="container">
                        <div class="row justify-content-start mr-tp-20">
                            <div class="col-md-9 privacy-content mr-tp-40">
                                <p class="coodiv-text-9">There are two things you require so as to launch an online portal. The first one is a domain name that will exhibit your online portal when you write it in a web browser, and the second one is a web hosting package, which is fundamentally the data storage space on a hosting server where the web site files will be situated, plus several more services that are included in it. The domain and the web hosting package are two linked, yet different services, and you require both of them in order to have a working web page.
                                </p>

                                <br>

                                <h4>What is a Domain Name?
                                </h4>
                                <p>A domain is the alpha-numeric name that you will choose to be the web address for the web page: my-best-domain.com, for instance. A domain can be up to 64 characters long and it is composed of 2 pieces – a Top-Level Domain (TLD) and a second-level domain name (SLD). In the abovementioned example, my-best-domain is the second-level domain name, and .com is the top-level domain name. While you can choose the SLD of the domain name to be anything that has not been registered yet, there is a set number of TLDs to choose from. The Top-Level Domains can be generic (gTLDs) or country-code (ccTLDs), and can be registered for a certain stretch of time between 1 and 10 years. They may include other preconditions concerning the registrant.

                                </p>

                                <br>

                                <h4>Domain Name Hosting Solutions
                                </h4>
                                <p>As the domain name is just a name and nothing more than that, you require a web hosting package where you have to host it. In this way, when you type it in a web browser, it will exhibit the web site files that you have in the account, i.e. it will display your website. You can have a domain registered with one company and obtain the hosting service from another, although lots of hosting corporations offer both solutions and it is more user-friendly to administer everything from the same web hosting Control Panel user interface. Either way, because the domain registration and the web hosting plan are separate services, you have to point the domain name to the server where it will be added as hosted. To accomplish that, you have to change a certain setting, or record, of the domain name - the so-called NS records. Each web hosting firm has at least two nameservers - ns1.educatial.store and ns2.educatial.store, for instance. The website hosting Control Panel that you have for your domain name offers you the option to alter the name servers and point the domain to one company or another.

                                </p>

                                <br>

                                <h4>The Demand for Trustworthy web hosting Services

                                </h4>
                                <p>The moment the domain is pointed to a specific domain hosting corporation and is added to their servers, you will obtain various web services. The most vital one is that the website files that you accommodate on the web server will now be displayed when you type your domain name in a browser. You will also be able to establish email addresses such as name@my-best-domain.com and make use of webmail or an email client to tackle them. Whether you administer a personal or a business website, being available online and being able to create e-mailbox accounts with your domain are the two most essential things that come with a website hosting plan. If you manage a business website – it will single out your business before your web page visitors or customers. For this reason you demand a dependable service provider that will offer a reliable and stable website hosting solution.

                                </p>

                                <br>

                                <h4>Reliable Hosting Services by 'educloud'
                                </h4>
                                <p>Additional services that you obtain by hosting a domain name with us include: FTP access to upload and download files easily, domain forwarding, email auto-responders and electronic mailing lists, and the option to set up and edit specific domain name records from your Hepsia website hosting CP.
                                </p>
                            </div>

                            <div class="col-md-3">
                                <h5 class="immediate-help-center-title">Pro Plan</h5>
                                <!-- <p class="immediate-help-center-text">our suuport team here for you 24/7</p> -->
                                <ul>
                                    <li>Unlimited Data Storage </li>
                                       <li> Unlimited Data Transfer</li>
                                       <li> 5 Domains Hosted</li>
                                        <li>30-Day Free Trial</li>
                                        <a href="/shared-hosting">View plan details ></a>
                                </ul>

                            </div>
                        </div>
                    </div>
                </section>


                <div class="row justify-content-left mx-16">
                    <div class="col-md-4 px-0">
                        <div class="second-pricing-table">
                            <h5 class="second-pricing-table-title">Pro plan <span>ideal choice for your
                                    personal
                                    site</span>
                            </h5>
                            <span class="second-pricing-table-price monthly">
                                <i class="monthly">$3.75<small>/mo</small></i>
                                <!-- <i class="yearly">$9.99<small>/year</small></i> -->
                            </span>

                            <ul class="second-pricing-table-body">
                                <li><strong>2 TB</strong> of space</li>
                                <li><strong>unlimited</strong> bandwidth</li>
                                <li><strong>full backup</strong> systems</li>
                                <li><strong>free</strong> domain</li>
                                <li><strong>Unlimited</strong> Database</li>
                                <li class="not-chacked">Fast SSD Storage</li>
                                <li class="not-chacked">unlimited database</li>
                            </ul>

                            <ul class="second-pricing-table-body-features">
                                <li>
                                    <span><strong>Dedicated project</strong>big companis,we chose to works
                                        with
                                        it</span>
                                </li>
                                <li>
                                    <span><strong>Easy feedback sharing</strong>Choose your edition, Try it
                                        free for
                                        14 days</span>
                                </li>
                            </ul>

                            <a class="second-pricing-table-button" href="/order-now">Get started</a>
                        </div>
                    </div>

                    <div class="col-md-4 px-0">
                        <div class="second-pricing-table">
                            <h5 class="second-pricing-table-title">Pro plus plan <span>great for your
                                    popular
                                    store</span></h5>
                            <span class="second-pricing-table-price monthly">
                                <i class="monthly">$8.33<small>/mo</small></i>
                                <!-- <i class="yearly">$42.99<small>/year</small></i> -->
                            </span>

                            <ul class="second-pricing-table-body">
                                <li><strong>Unlimited</strong> storage</li>
                                <li><strong>Unlimited</strong> bandwidth</li>
                                <li><strong>1 website</strong> hosted</li>
                                <li><strong>24/7/365 </strong> support</li>
                                <li><strong>Unlimited</strong> Database</li>
                                <li><strong>30 Days</strong> Money Back Guarantee</li>
                                <li><strong>30 Days</strong> Free Trial</li>
                            </ul>

                            <ul class="second-pricing-table-body-features">
                                <li>
                                    <span><strong>Dedicated project</strong>big companis,we chose to works
                                        with
                                        it</span>
                                </li>
                                <li>
                                    <span><strong>Easy feedback sharing</strong>Choose your edition, Try it
                                        free for
                                        14 days</span>
                                </li>
                            </ul>

                            <a class="second-pricing-table-button" href="/order-now">Get started</a>
                        </div>
                    </div>

                    <div class="col-md-4 px-0">
                        <div class="second-pricing-table style-2 active">
                            <h5 class="second-pricing-table-title">Expert plan <span>best for advanced
                                    multisites</span></h5>
                            <span class="second-pricing-table-price monthly">
                                <i class="monthly">$12.00<small>/mo</small></i>
                                <!-- <i class="yearly">$85.99<small>/year</small></i> -->
                            </span>

                            <ul class="second-pricing-table-body">
                                <li><strong>Unlimited</strong> storage</li>
                                <li><strong>Unlimited</strong> bandwidth</li>
                                <li><strong>Unlimited website</strong> hosted</li>
                                <li><strong>24/7/365 </strong> support</li>
                                <li><strong>Unlimited</strong> Database</li>
                                <li><strong>30 Days</strong> Money Back Guarantee</li>
                                <li><strong>30 Days</strong> Free Trial</li>
                            </ul>

                            <ul class="second-pricing-table-body-features">
                                <li>
                                    <span><strong>Dedicated project</strong>big companis,we chose to works
                                        with
                                        it</span>
                                </li>
                                <li>
                                    <span><strong>Easy feedback sharing</strong>Choose your edition, Try it
                                        free for
                                        14 days</span>
                                </li>
                            </ul>

                            <a class="second-pricing-table-button" href="/order-now">Get started</a>
                        </div>
                    </div>
                    
                    <div class="col-md-4 px-0">
                        <div class="second-pricing-table style-2 active">
                            <h5 class="second-pricing-table-title">Starter plan <span>best for personal
                                    websites</span></h5>
                            <span class="second-pricing-table-price monthly">
                                <i class="monthly">$2.75<small>/mo</small></i>
                                <!-- <i class="yearly">$85.99<small>/year</small></i> -->
                            </span>

                            <ul class="second-pricing-table-body">
                                <li><strong>Unlimited</strong> storage</li>
                                <li><strong>Unlimited</strong> bandwidth</li>
                                <li><strong>1 website</strong> hosted</li>
                                <li><strong>24/7/365 </strong> support</li>
                                <li><strong>Unlimited</strong> Database</li>
                                <li><strong>30 Days</strong> Money Back Guarantee</li>
                                <li><strong>30 Days</strong> Free Trial</li>
                            </ul>


                            <a class="second-pricing-table-button" href="/order-now">Get started</a>
                        </div>
                    </div>
                </div>

                <%- include('../partials/footer') %>
    </body>

</html>