<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body>

        <%- include('../partials/header'); %>


            <div class="bg-default-2 mx-md-15 mx-5  pt-30 pb-30 position-relative">
                <div class="container text-center">
                    <div class="col-lg-6 mx-auto">
                        <h1 class="coodiv-text-3 font-weight-bold">Hepsia Domain Manager</h1>

                        <p class="coodiv-text-9">Hepsia's Domain Manager will grant you total control over your domains. You can register and transfer a domain from one place, change its name servers, upload files, create mail and FTP accounts, set up sub-domains, explore traffic statistics, etc. Additionally, you can register, renew and manage multiple domain names simultaneously.</p>
                        <div style="display: flex; justify-content: center;"><a class="main-header-btn coodiv-text-9 font-weight-bold" href="https://demo.educatial.store/domains/hosted/?auto_login=true">View Demo<i class="fal fa-arrow-right"></i></a></div>
                    </div>
                </div>
            </div>

            <section class="pt-2 pb-25">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-md-6 col-12 d-flex align-items-center">
                            <div class="content-text-author mb-md-0 mb-14">
                                <!-- <p style="color: #ee9823;" class="eyebrow content-text-author_eyebrow">Hepsia Domain Manager -->
                                </p>
                                <h3 class="coodiv-text-4 font-weight-bold">Manage DNS Records</h3>
                                <p class="content_text_author_description_p">You will have absolute authority over the DNS records for all the domain names that you have registered or transferred over to us. You can even register your own name servers like dns1.your-domain.com and dns2.your-domain.com and specify custom DNS records (A, AAAA, MX, SRV, CNAME, TXT, etc. records).</p>
                                <a href="https://demo.educatial.store/domains/hosted/?auto_login=true">See how it works
                                    ></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div style="background-color: transparent;" class="section_text_graphic_image" width="100">
                                <img src="./img/hespia-1.gif" alt title loading="lazy">
                            </div>
                        </div>
                    </div>


                    <div class="row justify-content-start mt-22">
                        <div class="col-md-6 col-12">
                            <div style="background-color: transparent;" class="section_text_graphic_image">
                                <img src="./img/hespia-2.gif" alt title loading="lazy">
                            </div>
                        </div>
                        <div class="col-md-6 col-12 d-flex align-items-center">
                            <div class="content-text-author mt-md-0 mt-14">
                                <!-- <p style="color: #ff2934;" class="eyebrow content-text-author_eyebrow">every day, all
                                    the
                                    time</p> -->
                                <h3 class="coodiv-text-4 font-weight-bold">Domain Parking</h3>
                                <p class="content_text_author_description_p">With the Domain Manager GUI, you can park any of your domains registered with us and manage already parked domains. Parked domains will automatically redirect your visitors to a site of your choosing or to a special template-based page. You can park a new domain and leave it until your web site is ready. Even if you do not need a new domain name at this particular moment in time, you can still use the service to reserve fancy domains for prospective projects. </p>
                                <a href="https://demo.educatial.store/domains/hosted/?auto_login=true">See how it works
                                    ></a>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-start mt-22">
                        <div class="col-md-6 col-12 d-flex align-items-center">
                            <div class="content-text-author mb-md-0 mb-14">
                                <!-- <p style="color: #ee9823;" class="eyebrow content-text-author_eyebrow">Super fast
                                    development</p> -->
                                <h3 class="coodiv-text-4 font-weight-bold">ID Protection</h3>
                                <p class="content_text_author_description_p">The identity protection service permits you to shield your personal or business WHOIS data. By default, when you register a domain name, your registrant details become publicly available for everyone to view. With the identity protection service enabled, your info will be instantaneously hidden and the WHOIS search will return the domain name registrar's information instead of yours.                                </p>
                                <a href="https://demo.educatial.store/domains/hosted/?auto_login=true">See how it works
                                    ></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div style="background-color: transparent;" class="section_text_graphic_image">
                                <img src="./img/hespia-3.gif" alt title loading="lazy">
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-start mt-22">
                        <div class="col-md-6 col-12">
                            <div style="background-color: transparent;" class="section_text_graphic_image">
                                <img src="./img/hespia-2.gif" alt title loading="lazy">
                            </div>
                        </div>
                        <div class="col-md-6 col-12 d-flex align-items-center">
                            <div class="content-text-author mt-md-0 mt-14">
                                <!-- <p style="color: #ff2934;" class="eyebrow content-text-author_eyebrow">every day, all
                                    the
                                    time</p> -->
                                <h3 class="coodiv-text-4 font-weight-bold">Multi-Domain Management Options</h3>
                                <p class="content_text_author_description_p">With the Domain Manager GUI, managing multiple domains simultaneously is stunningly easy. For example, the domain name registration wizard permits you to order multiple domain names at once. You will be able to just as easily renew your domains before they reach their expiration dates. Plus, you can harden the security of all your domains with just a single click by activating the ID protection service.</p>
                                <a href="https://demo.educatial.store/domains/hosted/?auto_login=true">See how it works
                                    ></a>
                            </div>
                        </div>
                    </div>

                </div>
            </section>


            <section>
                <div class="container-fluid">
                    <div class="row justify-content-start mx-md-12 mx-2">

                        <div class="col-md-4 plan-ssl-special">
                            <h5 class="res-titl">Shared <span>Hosting</span></h5>
                            <span class="res-price"><i>$</i>2.75</span>
                            <!-- <span class="res-sub-text">basic encryption <img src="img/demo/ssl.png" alt /></span> -->

                            <div class="body-ress-v2">
                                <p><b>Unlimited</b> Storage</p>
                                <p><b>Unlimited</b> Bandwidth</p>
                                <p><b>1</b> Website hosted</p>
                                <p><b>30-Day</b> Free trial</p>
                                <p><a class="ress-install-btn" href="/order-now">Order now</a></p>
                            </div>
                        </div>
                        <div class="col-md-4 plan-ssl-special">
                            <h5 class="res-titl">KVM <span>VPS</span></h5>
                            <span class="res-price"><i>$</i>6.00</span>
                            <!-- <span class="res-sub-text">basic encryption <img src="img/demo/ssl.png" alt /></span> -->

                            <div class="body-ress-v2">
                                <p><b>20GB</b> Storage</p>
                                <p><b>1TB</b> Bandwidth</p>
                                <p><b>Unlimited</b> Websites hosted</p>
                                <p><b>24/7</b> 365 Support</p>
                                <p><a class="ress-install-btn" href="/order-now">Order now</a></p>
                            </div>
                        </div>
                        <div class="col-md-4 plan-ssl-special">
                            <h5 class="res-titl">Dedicated <span>Servers</span></h5>
                            <span class="res-price"><i>$</i>36.00</span>
                            <!-- <span class="res-sub-text">basic encryption <img src="img/demo/ssl.png" alt /></span> -->

                            <div class="body-ress-v2">
                                <p><b>240GB</b> Storage</p>
                                <p><b>10TB</b> Bandwidth</p>
                                <p><b>Unlimed </b> Websites hosted</p>
                                <p><b>24/7</b> 365 Support</p>
                                <p><a class="ress-install-btn" href="/order-now">Order now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <%- include('../partials/footer') %>
    </body>

</html>