<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body>

        <%- include('../partials/header'); %>


            <div class="bg-default-2 mx-md-15 mx-5  pt-30 pb-30 position-relative">
                <div class="container text-center">
                    <div class="col-lg-6 mx-auto">
                        <h1 class="coodiv-text-3 font-weight-bold">Hepsia Email Manager</h1>

                        <p class="coodiv-text-9">Hepsia's Email Manager is an all-embracing e-mail management solution, which will grant you total command over your e-mailboxes and e-newsletters. With this easy-to-work-with GUI, you can set up a brand new e-mail box account in no time and administer its settings easily. In addition, you can redirect email messages from one e-mail box to another, create mail filters, create autoresponder messages and guard your email box accounts against spam electronic mail messages.

                        </p>
                        <div style="display: flex; justify-content: center;"><a class="main-header-btn coodiv-text-9 font-weight-bold" href="https://demo.educatial.store/domains/hosted/?auto_login=true">View Demo<i class="fal fa-arrow-right"></i></a></div>
                    </div>
                </div>
            </div>

            <section class="pt-2 pb-25">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-md-6 col-12 d-flex align-items-center">
                            <div class="content-text-author mb-md-0 mb-14">
                                <!-- <p style="color: #ee9823;" class="eyebrow content-text-author_eyebrow">Hepsia Domain Manager -->
                                </p>
                                <h3 class="coodiv-text-4 font-weight-bold">Anti-Spam Protection
                                </h3>
                                <p class="content_text_author_description_p">We have a server-side anti-spam filtering solution, so you can protect all your email mailboxes against junk messages. You can also change the anti-spam protection level from 'Very Low' to 'Very High' to make certain that no unsolicited emails will find their way into your email mailbox. Your electronic mails will be sifted out on the basis of their spam score. You can also choose whether an email message flagged as spam should be erased or forwarded to a specific email box.

                                </p>
                                <a href="https://demo.educatial.store/domains/hosted/?auto_login=true">See how it works
                                    ></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div style="background-color: transparent;" class="section_text_graphic_image" width="100">
                                <img src="./img/hespia-1.gif" alt title loading="lazy">
                            </div>
                        </div>
                    </div>


                    <div class="row justify-content-start mt-22">
                        <div class="col-md-6 col-12">
                            <div style="background-color: transparent;" class="section_text_graphic_image">
                                <img src="./img/hespia-2.gif" alt title loading="lazy">
                            </div>
                        </div>
                        <div class="col-md-6 col-12 d-flex align-items-center">
                            <div class="content-text-author mt-md-0 mt-14">
                                <!-- <p style="color: #ff2934;" class="eyebrow content-text-author_eyebrow">every day, all
                                    the
                                    time</p> -->
                                <h3 class="coodiv-text-4 font-weight-bold">Email Filters

                                </h3>
                                <p class="content_text_author_description_p">Mail filters are ideal for sorting your incoming mail messages based on specific criteria defined by you. Setting up email filters is very easy - all you have to do is fill in a simple form and your mail filter will be activated and will go into effect instantly. You can easily create an email filter for any of your electronic mail accounts and change the e-mail filtering criteria as per your desire.


                                </p>
                                <a href="https://demo.educatial.store/domains/hosted/?auto_login=true">See how it works
                                    ></a>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-start mt-22">
                        <div class="col-md-6 col-12 d-flex align-items-center">
                            <div class="content-text-author mb-md-0 mb-14">
                                <!-- <p style="color: #ee9823;" class="eyebrow content-text-author_eyebrow">Super fast
                                    development</p> -->
                                <h3 class="coodiv-text-4 font-weight-bold">Email Forwarding

                                </h3>
                                <p class="content_text_author_description_p">You can quickly redirect your incoming electronic mail messages from one e-mail account to another, or even to a number of other electronic mail accounts. Simply specify the email account you would like to forward electronic mail messages from, then specify the destination email mailbox and select if you want to leave a copy on our servers.


                                </p>
                                <a href="https://demo.educatial.store/domains/hosted/?auto_login=true">See how it works
                                    ></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div style="background-color: transparent;" class="section_text_graphic_image">
                                <img src="./img/hespia-3.gif" alt title loading="lazy">
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-start mt-22">
                        <div class="col-md-6 col-12">
                            <div style="background-color: transparent;" class="section_text_graphic_image">
                                <img src="./img/hespia-2.gif" alt title loading="lazy">
                            </div>
                        </div>
                        <div class="col-md-6 col-12 d-flex align-items-center">
                            <div class="content-text-author mt-md-0 mt-14">
                                <!-- <p style="color: #ff2934;" class="eyebrow content-text-author_eyebrow">every day, all
                                    the
                                    time</p> -->
                                <h3 class="coodiv-text-4 font-weight-bold">Auto-Configuration Options

                                </h3>
                                <p class="content_text_author_description_p">With the Email Manager GUI, you can easily set up the mail client of your preference to access your e-mail box accounts. Simply go to the Auto-Config column next to the mailbox account you want to set up on your PC or smartphone and click on the electronic mail client that you wish to use (Microsoft Outlook, Outlook Express, Mozilla Thunderbird or Apple Mail). Then a file will be created for you. Drag the file to your electronic mail client and the new email box will be set up in a minute.


                                </p>
                                <a href="https://demo.educatial.store/domains/hosted/?auto_login=true">See how it works
                                    ></a>
                            </div>
                        </div>
                    </div>

                </div>
            </section>


            <section>
                <div class="container-fluid">
                    <div class="row justify-content-start mx-md-12 mx-2">

                        <div class="col-md-4 plan-ssl-special">
                            <h5 class="res-titl">Shared <span>Hosting</span></h5>
                            <span class="res-price"><i>$</i>2.75</span>
                            <!-- <span class="res-sub-text">basic encryption <img src="img/demo/ssl.png" alt /></span> -->

                            <div class="body-ress-v2">
                                <p><b>Unlimited</b> Storage</p>
                                <p><b>Unlimited</b> Bandwidth</p>
                                <p><b>1</b> Website hosted</p>
                                <p><b>30-Day</b> Free trial</p>
                                <p><a class="ress-install-btn" href="/order-now">Order now</a></p>
                            </div>
                        </div>
                        <div class="col-md-4 plan-ssl-special">
                            <h5 class="res-titl">KVM <span>VPS</span></h5>
                            <span class="res-price"><i>$</i>6.00</span>
                            <!-- <span class="res-sub-text">basic encryption <img src="img/demo/ssl.png" alt /></span> -->

                            <div class="body-ress-v2">
                                <p><b>20GB</b> Storage</p>
                                <p><b>1TB</b> Bandwidth</p>
                                <p><b>Unlimited</b> Websites hosted</p>
                                <p><b>24/7</b> 365 Support</p>
                                <p><a class="ress-install-btn" href="/order-now">Order now</a></p>
                            </div>
                        </div>
                        <div class="col-md-4 plan-ssl-special">
                            <h5 class="res-titl">Dedicated <span>Servers</span></h5>
                            <span class="res-price"><i>$</i>36.00</span>
                            <!-- <span class="res-sub-text">basic encryption <img src="img/demo/ssl.png" alt /></span> -->

                            <div class="body-ress-v2">
                                <p><b>240GB</b> Storage</p>
                                <p><b>10TB</b> Bandwidth</p>
                                <p><b>Unlimed </b> Websites hosted</p>
                                <p><b>24/7</b> 365 Support</p>
                                <p><a class="ress-install-btn" href="/order-now">Order now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <%- include('../partials/footer') %>
    </body>

</html>