<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body>

        <%- include('../partials/header'); %>


            <div class="bg-default-2 mx-md-15 mx-5  pt-30 pb-30 position-relative">
                <div class="container text-center">
                    <div class="col-lg-6 mx-auto">
                        <h1 class="coodiv-text-3 font-weight-bold">Hepsia File Manager</h1>

                        <p class="coodiv-text-9">Hepsia's File Manager allows you to handle your website files using simple point-and-click actions. Right-click context menus allow rapid access to various file manipulation options, while handy drag 'n' drop functionality will allow you to upload new files from your personal computer in an instant. You will also find integrated file editors and an image viewer. You will be able to zip and unzip files without difficulty too.</p>
                        <div style="display: flex; justify-content: center;"><a class="main-header-btn coodiv-text-9 font-weight-bold" href="https://demo.educatial.store/domains/hosted/?auto_login=true">View Demo<i class="fal fa-arrow-right"></i></a></div>
                    </div>
                </div>
            </div>

            <section class="pt-2 pb-25">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-md-6 col-12 d-flex align-items-center">
                            <div class="content-text-author mb-md-0 mb-14">
                                <!-- <p style="color: #ee9823;" class="eyebrow content-text-author_eyebrow">Hepsia Domain Manager -->
                                </p>
                                <h3 class="coodiv-text-4 font-weight-bold">Fast File Uploads and Downloads</h3>
                                <p class="content_text_author_description_p">Working with the File Manager feels like working with your PC. The integrated drag 'n' drop functionality will allow you to effortlessly transfer files between your desktop PC and the web hosting server. Just select the file that you would like to upload from your desktop computer and then drag it over to your browser. The same goes for downloading a file from the File Manager to your desktop. On top of that, you can download files and even folders to your hard disk by pressing the Download button.</p>
                                <a href="https://demo.educatial.store/domains/hosted/?auto_login=true">See how it works
                                    ></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div style="background-color: transparent;" class="section_text_graphic_image" width="100">
                                <img src="./img/hespia-1.gif" alt title loading="lazy">
                            </div>
                        </div>
                    </div>


                    <div class="row justify-content-start mt-22">
                        <div class="col-md-6 col-12">
                            <div style="background-color: transparent;" class="section_text_graphic_image">
                                <img src="./img/hespia-2.gif" alt title loading="lazy">
                            </div>
                        </div>
                        <div class="col-md-6 col-12 d-flex align-items-center">
                            <div class="content-text-author mt-md-0 mt-14">
                                <!-- <p style="color: #ff2934;" class="eyebrow content-text-author_eyebrow">every day, all
                                    the
                                    time</p> -->
                                <h3 class="coodiv-text-4 font-weight-bold">Easy File Editing Options
                                </h3>
                                <p class="content_text_author_description_p">With the File Manager graphical user interface, you can create a new file or folder with only a single click. All action buttons are conveniently positioned above the file/folder list and you can edit your files effortlessly. You can rename or copy a file, move a file to a different folder, examine the contents of a file or update its permissions, delete a file, and so on.

                                </p>
                                <a href="https://demo.educatial.store/domains/hosted/?auto_login=true">See how it works
                                    ></a>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-start mt-22">
                        <div class="col-md-6 col-12 d-flex align-items-center">
                            <div class="content-text-author mb-md-0 mb-14">
                                <!-- <p style="color: #ee9823;" class="eyebrow content-text-author_eyebrow">Super fast
                                    development</p> -->
                                <h3 class="coodiv-text-4 font-weight-bold">Handy Archive/Unarchive Functionality
                                </h3>
                                <p class="content_text_author_description_p">With the File Manager graphical user interface, you will be able to pack and uncompress all types of files. It works amazingly fast - just select the files you want to zip and click the Compress button. You can even select the archive format (.rar, .zip, and so on). It is just as easy to extract an archive file to a chosen folder.

                                </p>
                                <a href="https://demo.educatial.store/domains/hosted/?auto_login=true">See how it works
                                    ></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div style="background-color: transparent;" class="section_text_graphic_image">
                                <img src="./img/hespia-3.gif" alt title loading="lazy">
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-start mt-22">
                        <div class="col-md-6 col-12">
                            <div style="background-color: transparent;" class="section_text_graphic_image">
                                <img src="./img/hespia-2.gif" alt title loading="lazy">
                            </div>
                        </div>
                        <div class="col-md-6 col-12 d-flex align-items-center">
                            <div class="content-text-author mt-md-0 mt-14">
                                <!-- <p style="color: #ff2934;" class="eyebrow content-text-author_eyebrow">every day, all
                                    the
                                    time</p> -->
                                <h3 class="coodiv-text-4 font-weight-bold">File Editors
                                </h3>
                                <p class="content_text_author_description_p">With the File Manager user interface, you really do not need any third-party tools to edit your files. There is an image viewer, which enables you to examine the contents of your image files to get an idea of how the images will actually show up online. What's more, you will find a set of built-in file editors, which will give you absolute control over your files. The plain text editor and the code editor are intended for more competent users, while the WYSIWYG editor (where you can view all HTML code changes in real time) is also suitable for technically inexperienced users.

                                </p>
                                <a href="https://demo.educatial.store/domains/hosted/?auto_login=true">See how it works
                                    ></a>
                            </div>
                        </div>
                    </div>

                </div>
            </section>


            <section>
                <div class="container-fluid">
                    <div class="row justify-content-start mx-md-12 mx-2">

                        <div class="col-md-4 plan-ssl-special">
                            <h5 class="res-titl">Shared <span>Hosting</span></h5>
                            <span class="res-price"><i>$</i>2.75</span>
                            <!-- <span class="res-sub-text">basic encryption <img src="img/demo/ssl.png" alt /></span> -->

                            <div class="body-ress-v2">
                                <p><b>Unlimited</b> Storage</p>
                                <p><b>Unlimited</b> Bandwidth</p>
                                <p><b>1</b> Website hosted</p>
                                <p><b>30-Day</b> Free trial</p>
                                <p><a class="ress-install-btn" href="/order-now">Order now</a></p>
                            </div>
                        </div>
                        <div class="col-md-4 plan-ssl-special">
                            <h5 class="res-titl">KVM <span>VPS</span></h5>
                            <span class="res-price"><i>$</i>6.00</span>
                            <!-- <span class="res-sub-text">basic encryption <img src="img/demo/ssl.png" alt /></span> -->

                            <div class="body-ress-v2">
                                <p><b>20GB</b> Storage</p>
                                <p><b>1TB</b> Bandwidth</p>
                                <p><b>Unlimited</b> Websites hosted</p>
                                <p><b>24/7</b> 365 Support</p>
                                <p><a class="ress-install-btn" href="/order-now">Order now</a></p>
                            </div>
                        </div>
                        <div class="col-md-4 plan-ssl-special">
                            <h5 class="res-titl">Dedicated <span>Servers</span></h5>
                            <span class="res-price"><i>$</i>36.00</span>
                            <!-- <span class="res-sub-text">basic encryption <img src="img/demo/ssl.png" alt /></span> -->

                            <div class="body-ress-v2">
                                <p><b>240GB</b> Storage</p>
                                <p><b>10TB</b> Bandwidth</p>
                                <p><b>Unlimed </b> Websites hosted</p>
                                <p><b>24/7</b> 365 Support</p>
                                <p><a class="ress-install-btn" href="/order-now">Order now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <%- include('../partials/footer') %>
    </body>

</html>