<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body>

        <%- include('../partials/header'); %>

            <div class="bg-default-2 mx-md-15 mx-5 py-20 mt-24">
                <div class="container text-center">
                    <!-- <span class="main-header-top-title mx-auto">Help center</span> -->
                    <h1 class="coodiv-text-3 font-weight-bold">Terms and Conditions</h1>
                    <div class="col-lg-6 mx-auto">
                        <p class="coodiv-text-9">By using the educloud services, you acknowledge that you have read our
                            set of legal documents and agree to be bound by the terms and conditions contained herein as
                            well as all acceptable use policies incorporated by reference.
                        <p>
                    </div>
                </div>
            </div>

            <section class="pt-5 pb-25 position-relative">
                <div class="container">

                    <div class="row justify-content-start mr-tp-80">
                        <div id="nav-tabContent" class="col-md-9 tab-content">

                            <div class="tab-pane fade show active" id="nav-first-help-categorie" role="tabpanel"
                                aria-labelledby="nav-first-help-categorie-tab">
                                <!-- <span class="help-center-box-popular">most popular categories</span> -->

                                <div>
                                    <h3>Web Hosting Terms & Conditions</h5>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-server"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>Web Hosting Terms Of Service </span>
                                                <span> </span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-binoculars"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>Acceptable Use Policy</span>
                                                <span> </span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-chart-pie"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>Service Level Guarantees</span>
                                                <span> </span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                </div>


                            </div>

                            <br><br>

                            <div class="tab-pane fade show active" id="nav-first-help-categorie" role="tabpanel"
                                aria-labelledby="nav-first-help-categorie-tab">
                                <!-- <span class="help-center-box-popular">most popular categories</span> -->

                                <div>
                                    <h3>Semi-dedicated Server Terms</h5>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-server"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>Semi-dedicated Servers Terms of Service </span>
                                                <span> </span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-binoculars"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>Semi-dedicated Servers Acceptable Use Policy</span>
                                                <span> </span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-chart-pie"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>Semi-dedicated Servers Service Level Guarantees</span>
                                                <span> </span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                </div>


                            </div>
                            <br><br>

                            <div class="tab-pane fade show active" id="nav-first-help-categorie" role="tabpanel"
                                aria-labelledby="nav-first-help-categorie-tab">
                                <!-- <span class="help-center-box-popular">most popular categories</span> -->

                                <div>
                                    <h3>General Terms</h5>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-server"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>Order Verification Policy </span>
                                                <span> </span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-binoculars"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>Privacy Policy</span>
                                                <span> </span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-chart-pie"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>Domain Name Registration Agreement</span>
                                                <span> </span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-chart-pie"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>Domain Name Resolution Policy</span>
                                                <span> </span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-chart-pie"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>ID Protection Service Agreement</span>
                                                <span> </span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-chart-pie"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>Cancellation Refund Policy</span>
                                                <span> </span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                </div>


                            </div>

                            <br><br>

                            <div class="tab-pane fade show active" id="nav-first-help-categorie" role="tabpanel"
                                aria-labelledby="nav-first-help-categorie-tab">
                                <!-- <span class="help-center-box-popular">most popular categories</span> -->

                                <div>
                                    <h3>Virtual Private Servers Terms</h5>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-server"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>Virtual Private Servers Terms </span>
                                                <span> </span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-binoculars"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>Virtual Private Servers Acceptable Use Policy</span>
                                                <span> </span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-chart-pie"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>Virtual Private Servers Service Level Guarantees</span>
                                                <span> </span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                </div>
                            </div>

                            <br><br>

                            <div class="tab-pane fade show active" id="nav-first-help-categorie" role="tabpanel"
                                aria-labelledby="nav-first-help-categorie-tab">
                                <!-- <span class="help-center-box-popular">most popular categories</span> -->

                                <div>
                                    <h3>Dedicated Servers Terms</h5>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-server"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>Dedicated Servers Terms of Service </span>
                                                <span> </span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-binoculars"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>Dedicated Servers Acceptable Use Policy</span>
                                                <span> </span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-chart-pie"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>Dedicated Servers Service Level Guarantees</span>
                                                <span> </span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </section>

            <%- include('../partials/footer') %>
    </body>

</html>