<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body>

        <%- include('../partials/header'); %>


            <div class="bg-default-2 mx-md-15 mx-5  pt-30 pb-30 position-relative">
                <div class="container text-center">
                    <div class="col-lg-6 mx-auto">
                        <h1 class="coodiv-text-3 font-weight-bold">Hespia vs cPanel</h1>

                        <p class="coodiv-text-9">cPanel is the most famous Control Panel these days. But that does not
                            mean that it is the finest - it has many imperfections and it has had them for so long that
                            they are no longer considered faults by the majority of people. But just because something
                            was okay in the year 2000 doesn't mean that the same thing will be okay nowadays.
                        </p>
                        <p class="coodiv-text-9">Here are the most important differences between the cPanel web hosting
                            Control Panel and the Hepsia Control Panel:</p>
                    </div>
                </div>
            </div>

            <section class="py-25 border-top">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-md-8 col-12">
                            <div class="title-default-coodiv-four">
                                <p style="color: #079d63;" class="eyebrow content-text-author_eyebrow">Comparison
                                </p>
                                <h5 class="coodiv-text-5 font-weight-bold">Lets compare the features</h5>
                                <!-- <p class="coodiv-text-9">
                                    Educloud provides you with everything you need to get started with hosting your
                                    projects today
                                </p> -->
                            </div>
                        </div>
                    </div>

                    <div class="coodiv-features-box-black-color-carousel">
                        <div class="item">
                            <a href="/https://demo.educatial.store/domains/hosted/?auto_login=true"
                                class="coodiv-features-box-black-color">
                                <i style="color: #ff2934;" class="fal fa-database"></i>
                                <h5 class="coodiv-text-8 font-weight-bold mb-0">Domain & Billing <span
                                        class="coodiv-text-12 font-weight-light">& Website controls</span></h5>
                                <p class="coodiv-text-11 mb-1">With Hepsia, you can administer your website, domain name
                                    and billing very easy, from a a single place.</p>
                                <br>
                                <p class="coodiv-text-11 mb-1">With cPanel, you have 2 separate Control Panel tools -
                                    one for your web site and another one for your billing transactions and domain
                                    names.</p>
                            </a>
                        </div>

                        <div class="item">
                            <a href="https://demo.educatial.store/domains/hosted/?auto_login=true"
                                class="coodiv-features-box-black-color">
                                <i style="color: #ee9823;" class="fal fa-database"></i>
                                <h5 class="coodiv-text-8 font-weight-bold mb-0">File Structure</h5>
                                <p class="coodiv-text-11 mb-1">With Hepsia, each domain has its own independent folder.
                                </p>
                                <br>
                                <p class="coodiv-text-11 mb-1">With cPanel, you have 1 principal domain name folder and
                                    all other add-on domains are located inside it.
                                </p>
                            </a>
                        </div>

                        <div class="item">
                            <a href="https://demo.educatial.store/domains/hosted/?auto_login=true"
                                class="coodiv-features-box-black-color">
                                <i style="color: #19d681;" class="fal fa-apple-crate"></i>
                                <h5 class="coodiv-text-8 font-weight-bold mb-0">File Manager</h5>
                                <p class="coodiv-text-11 mb-1">With the Hepsia website hosting CP, you can take
                                    advantage of drag 'n' drop file upload right into the File Manager. It also supports
                                    archive/unarchive options and right-click contextual menus.</p>
                                <br>
                                <p class="coodiv-text-11 mb-1">With cPanel, the charge-free bonuses you obtain depend on
                                    the hosting accounts provider, which means that you can also receive a bare-bones
                                    cPanel with nothing else.</p>
                            </a>
                        </div>

                        <div class="item">
                            <a href="https://demo.educatial.store/domains/hosted/?auto_login=true"
                                class="coodiv-features-box-black-color">
                                <i style="color: #a2fbf3;" class="fal fa-baby-carriage"></i>
                                <h5 class="coodiv-text-8 font-weight-bold mb-0">Control Panel speed</h5>
                                <p class="coodiv-text-11 mb-1">Tests have demonstrated that the Hepsia web hosting
                                    Control Panel is 3 to 5 times faster than the cPanel web hosting CP.</p>
                                <br>
                                <p class="coodiv-text-11 mb-1">While with the The cPanel hosting Control Panel you can
                                    get the work done, it's built on ideas from the year 2000 and can be slow at times.
                                </p>
                            </a>
                        </div>
                        <div class="item">
                            <a href="https://demo.educatial.store/domains/hosted/?auto_login=true"
                                class="coodiv-features-box-black-color">
                                <i style="color: #a2fbf3;" class="fal fa-baby-carriage"></i>
                                <h5 class="coodiv-text-8 font-weight-bold mb-0">Mutli-domain controls</h5>
                                <p class="coodiv-text-11 mb-1">Managing 10 separate websites with the Hepsia hosting
                                    Control Panel is not harder than managing 1 or 2 websites.</p>
                                <br>
                                <p class="coodiv-text-11 mb-1">Hosting more than ten websites under a single cPanel
                                    account is indeed difficult.</p>
                            </a>
                        </div>
                        <div class="item">
                            <a href="https://demo.educatial.store/domains/hosted/?auto_login=true"
                                class="coodiv-features-box-black-color">
                                <i style="color: #a2fbf3;" class="fal fa-baby-carriage"></i>
                                <h5 class="coodiv-text-8 font-weight-bold mb-0">Control Panel navigation</h5>
                                <p class="coodiv-text-11 mb-1">The Hepsia web hosting CP offers a fully fledged demo
                                    version with only a few functions disabled. You can even set up a complete site and
                                    see how it looks like before deciding whether or not to sign up.</p>
                                <br>
                                <p class="coodiv-text-11 mb-1">The cPanel web hosting Control Panel features a
                                    stripped-down demo version, which will only offer you a crude idea of what the
                                    cPanel hosting Control Panel can do.</p>
                            </a>
                        </div>
                    </div>
                </div>
            </section>


            <section>
                <div class="container-fluid">
                    <div class="row justify-content-start mx-md-12 mx-2">

                        <div class="col-md-4 plan-ssl-special">
                            <h5 class="res-titl">Shared <span>Hosting</span></h5>
                            <span class="res-price"><i>$</i>2.75</span>
                            <!-- <span class="res-sub-text">basic encryption <img src="img/demo/ssl.png" alt /></span> -->

                            <div class="body-ress-v2">
                                <p><b>Unlimited</b> Storage</p>
                                <p><b>Unlimited</b> Bandwidth</p>
                                <p><b>1</b> Website hosted</p>
                                <p><b>30-Day</b> Free trial</p>
                                <p><a class="ress-install-btn" href="/order-now">Order now</a></p>
                            </div>
                        </div>
                        <div class="col-md-4 plan-ssl-special">
                            <h5 class="res-titl">KVM <span>VPS</span></h5>
                            <span class="res-price"><i>$</i>6.00</span>
                            <!-- <span class="res-sub-text">basic encryption <img src="img/demo/ssl.png" alt /></span> -->

                            <div class="body-ress-v2">
                                <p><b>20GB</b> Storage</p>
                                <p><b>1TB</b> Bandwidth</p>
                                <p><b>Unlimited</b> Websites hosted</p>
                                <p><b>24/7</b> 365 Support</p>
                                <p><a class="ress-install-btn" href="/order-now">Order now</a></p>
                            </div>
                        </div>
                        <div class="col-md-4 plan-ssl-special">
                            <h5 class="res-titl">Dedicated <span>Servers</span></h5>
                            <span class="res-price"><i>$</i>36.00</span>
                            <!-- <span class="res-sub-text">basic encryption <img src="img/demo/ssl.png" alt /></span> -->

                            <div class="body-ress-v2">
                                <p><b>240GB</b> Storage</p>
                                <p><b>10TB</b> Bandwidth</p>
                                <p><b>Unlimed </b> Websites hosted</p>
                                <p><b>24/7</b> 365 Support</p>
                                <p><a class="ress-install-btn" href="/order-now">Order now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <%- include('../partials/footer') %>
    </body>

</html>