<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body>

        <%- include('../partials/header'); %>


            <div class="bg-default-2 mx-md-15 mx-5  pt-30 pb-30 position-relative">
                <div class="container text-center">
                    <div class="col-lg-6 mx-auto">
                        <h1 class="coodiv-text-3 font-weight-bold">Hespia Hosting CP</h1>

                        <p class="coodiv-text-9">The Hepsia CP is the hosting CP included with all our <a
                                href="/shared-hosting">shared web hosting</a> packages. It's extremely easy to handle
                            and comes loaded with free-of-charge tools and extras. With the ability to manage multiple
                            <a href="/domain-names">domains</a> at the same time, the drag-and-drop file upload system
                            and
                            the avant-garde Email Manager, it's truly one of the finest web hosting Control Panels in
                            existence. But don't simply take us at our word - watch our video demonstration, or check
                            out the fully featured <a href="https://demo.educatial.store/?auto_login=true">hosting
                                control panel demo</a>.
                        </p>
                    </div>
                </div>
            </div>


            <section>
                <div class="container-fluid">
                    <div class="row justify-content-start mx-md-12 mx-2">

                        <div class="col-md-4 plan-ssl-special">
                            <h5 class="res-titl">Shared <span>Hosting</span></h5>
                            <span class="res-price"><i>$</i>2.75</span>
                            <!-- <span class="res-sub-text">basic encryption <img src="img/demo/ssl.png" alt /></span> -->

                            <div class="body-ress-v2">
                                <p><b>Unlimited</b> Storage</p>
                                <p><b>Unlimited</b> Bandwidth</p>
                                <p><b>1</b> Website hosted</p>
                                <p><b>30-Day</b> Free trial</p>
                                <p><a class="ress-install-btn" href="/order-now">Order now</a></p>
                            </div>
                        </div>
                        <div class="col-md-4 plan-ssl-special">
                            <h5 class="res-titl">KVM <span>VPS</span></h5>
                            <span class="res-price"><i>$</i>6.00</span>
                            <!-- <span class="res-sub-text">basic encryption <img src="img/demo/ssl.png" alt /></span> -->

                            <div class="body-ress-v2">
                                <p><b>20GB</b> Storage</p>
                                <p><b>1TB</b> Bandwidth</p>
                                <p><b>Unlimited</b> Websites hosted</p>
                                <p><b>24/7</b> 365 Support</p>
                                <p><a class="ress-install-btn" href="/order-now">Order now</a></p>
                            </div>
                        </div>
                        <div class="col-md-4 plan-ssl-special">
                            <h5 class="res-titl">Dedicated <span>Servers</span></h5>
                            <span class="res-price"><i>$</i>36.00</span>
                            <!-- <span class="res-sub-text">basic encryption <img src="img/demo/ssl.png" alt /></span> -->

                            <div class="body-ress-v2">
                                <p><b>240GB</b> Storage</p>
                                <p><b>10TB</b> Bandwidth</p>
                                <p><b>Unlimed </b> Websites hosted</p>
                                <p><b>24/7</b> 365 Support</p>
                                <p><a class="ress-install-btn" href="/order-now">Order now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="py-20 bg-default-2">
                <div class="container">
                    <h5 class="title-default-coodiv-two">What comes with the Hespia Hosting CP? <span>500+ Unique
                            Features</span></h5>
                    <br>
                    <p class="px-20">The Domain Manager, the File Manager and the Email Manager are just some of the
                        tools included in the Hepsia Control Panel. We also offer a quick way to manage MySQL and PgSQL
                        databases with the help of our Database Manager. Our Stats Manager offers you a full overview
                        over all the relevant stats for your website. There is also a rich collection of charge-free
                        bonuses coming with the Hepsia CP - a site installation tool, a web apps installer, a PHP
                        frameworks installer, free-of-charge web design skins, a cost-free sitemap generator, etc. There
                        is also a collection of marketing and administration tools, among them an .htaccess Generator
                        tool, a PHP Configuration tool, a URL Redirection tool, a Password Protection tool, a Domain
                        Parking & Redirection tool, a collection of web accelerators and many more. Plus, the Hepsia
                        hosting CP includes an SSL Certificates section, from where you can buy SSL certificates for
                        your web sites.</p>
                    <p class="px-20">If you want, you can review our Hepsia vs. cPanel head-to-head comparison and learn
                        how these hosting control panels manage with several web hosting tasks. </p>
                </div>
            </section>

            <section class="pt-2 pb-25">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-md-6 col-12 d-flex align-items-center">
                            <div class="content-text-author mb-md-0 mb-14">
                                <!-- <p style="color: #ee9823;" class="eyebrow content-text-author_eyebrow">Hepsia Domain Manager -->
                                </p>
                                <h3 class="coodiv-text-4 font-weight-bold">Hepsia Domain Manager</h3>
                                <p class="content_text_author_description_p">You can now register, transfer and
                                    administer multiple domain names & websites from just one place. This is something
                                    cPanel has enormous problems with. Actually, there is no Domain Manager at all in
                                    cPanel. With the Hepsia hosting Control Panel, you can establish and administer
                                    multiple totally independent web sites under a single web hosting account. There's
                                    no need to have different Control Panel interfaces (i.e. logins) for your domains,
                                    helpdesk tickets and billing transactions.</p>
                                <a href="https://demo.educatial.store/domains/hosted/?auto_login=true">See how it works
                                    ></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div style="background-color: transparent;" class="section_text_graphic_image" width="100">
                                <img src="./img/hespia-1.gif" alt title loading="lazy">
                            </div>
                        </div>
                    </div>


                    <div class="row justify-content-start mt-22">
                        <div class="col-md-6 col-12">
                            <div style="background-color: transparent;" class="section_text_graphic_image">
                                <img src="./img/hespia-2.gif" alt title loading="lazy">
                            </div>
                        </div>
                        <div class="col-md-6 col-12 d-flex align-items-center">
                            <div class="content-text-author mt-md-0 mt-14">
                                <!-- <p style="color: #ff2934;" class="eyebrow content-text-author_eyebrow">every day, all
                                    the
                                    time</p> -->
                                <h3 class="coodiv-text-4 font-weight-bold">Hepsia File Manager</h3>
                                <p class="content_text_author_description_p">With drag-and-drop file uploads enabled,
                                    now this is something truly terrific - you no longer need an FTP client to transfer
                                    files. Simply select the files on your PC and drag them into your browser window -
                                    the upload will start instantaneously. You will also be able to move files around
                                    the File Manager making use of the in-built drag 'n' drop functionality.</p>
                                <a href="https://demo.educatial.store/domains/hosted/?auto_login=true">See how it works
                                    ></a>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-start mt-22">
                        <div class="col-md-6 col-12 d-flex align-items-center">
                            <div class="content-text-author mb-md-0 mb-14">
                                <!-- <p style="color: #ee9823;" class="eyebrow content-text-author_eyebrow">Super fast
                                    development</p> -->
                                <h3 class="coodiv-text-4 font-weight-bold">Hepsia Email Manager</h3>
                                <p class="content_text_author_description_p">Hepsia's Email Manager permits you to
                                    redirect emails, to create auto-reply messages with just a single mouse click, to
                                    finetune email filters and to guard your mailbox accounts against junk mails. You
                                    can configure the desktop electronic mail client of your choosing to access your
                                    email boxes or administer them via a webmail client.</p>
                                <a href="https://demo.educatial.store/domains/hosted/?auto_login=true">See how it works
                                    ></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div style="background-color: transparent;" class="section_text_graphic_image">
                                <img src="./img/hespia-3.gif" alt title loading="lazy">
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <%- include('../partials/footer') %>
    </body>

</html>