<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body>

        <%- include('../partials/header'); %>

            <div class="bg-default-2 mx-md-15 mx-5 py-20 mt-24">
                <div class="container text-center">
                    <!-- <span class="main-header-top-title mx-auto">Help center</span> -->
                    <h1 class="coodiv-text-3 font-weight-bold">Hosting Articles</h1>
                    <div class="col-lg-6 mx-auto">
                        <p class="coodiv-text-9">What exactly is cloud hosting? And what is web hosting really about? What really are SSLs? And what is a domain? Discover the answers to these and many other questions with our detailed hosting articles.</p>
                    </div>
                </div>
            </div>

            <section class="pt-5 pb-25 position-relative">
                <div class="container">

                    <div class="row justify-content-start mr-tp-80">
                        <div id="nav-tabContent" class="col-md-9 tab-content">

                            <div class="tab-pane fade show active" id="nav-first-help-categorie" role="tabpanel"
                                aria-labelledby="nav-first-help-categorie-tab">
                                <!-- <span class="help-center-box-popular">most popular categories</span> -->

                                <div>
                                    <!-- <h3>Reseller Hosting</h5> -->
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-server"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>Reseller Hosting</span>
                                                <span>Reseller hosting is a service almost as old as web hosting. It gives the opportunity for normal people to make money selling hosting, without been forced to invest anything and without the need for any web hosting background.</span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-binoculars"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>Shared Hosting</span>
                                                <span>Shared hosting is the most budget and most common web hosting solution and is the perfect choice for small and personal websites. At educloud we offer top shared hosting services at affordable prices.</span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-chart-pie"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>Dedicated Hosting</span>
                                                <span>What are dedicated servers and how can they assist you grow your site(s)? How to select the right dedicated hosting server for you? Learn about the differences between dedicated hosting and shared web hosting.</span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-chart-pie"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>Web Hosting</span>
                                                <span>Web hosting is one of the top Google searches for several years. While almost every time hosting is equal to shared web hosting, it can also mean virtual private server hosting as well. Learn all about the many cases of web hosting.</span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-chart-pie"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>VPS Hosting</span>
                                                <span>VPS or Virtual Servers are the budget substitution to dedicated servers. But affordable does not signify incapable - VPS hosting features excellent price-to-feature ratio at very decent prices.</span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-chart-pie"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>Affordable Hosting</span>
                                                <span>Inexpensive or affordable hosting doesn't mean incapable web hosting. In today's world, lots of web hosting companies lower the pricing to win more customers. Learn what is the difference between affordable hosting and bad web hosting service.</span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-chart-pie"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>What is Cloud Hosting</span>
                                                <span>Cloud hosting is something relatively new to the web hosting world and most people don't really know what cloud web hosting really is about. At educloud, we will tell you everything you need to understand about cloud web hosting.</span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-chart-pie"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>Domain Manager</span>
                                                <span>In order to totally administer your domain, you must have a fully-featured domain management system. This is where our Domain Manager really shines - with all the services you may need for your domain name.</span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-chart-pie"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>Web Hosting Services</span>
                                                <span>The web hosting service is the technology that stands behind every website on the planet. It's the combination of server web space and technologies that allows for a site to seen online. Learn more about the hosting service in our dedicated article.</span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-chart-pie"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>Domain Web Hosting</span>
                                                <span>Choosing web hosting for your domain is tricky and educloud is here to assist. What are the features you need and what it the perfect hosting plan for you? Learn more in our domain hosting article.</span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-chart-pie"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>Best Hosting</span>
                                                <span>What is the best hosting offer for you and your site(s)? How to pick the best hosting provider? Should you get a VPS or a dedicated hosting server? Learn all that you need to know with this hosting article.</span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-chart-pie"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>Semi-Dedicated Hosting</span>
                                                <span>If you need more power then a shared web hosting service can offer you, but don't want to deal with whole web server - the semi-dedicated hosting service is perfect for you. Learn more about it in our detailed article.</span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-chart-pie"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>SSL Certificates</span>
                                                <span>SSL certificates are a must have if you have an online store or simply sell things from your website. However, setting then up can be | sometimes is complicated. Learn how to order an SSL with educloud without any extra work.</span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-chart-pie"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>Domain Names</span>
                                                <span>A domain is a must-have in today's world. The domain name is the name of your website and is what people will use to reach your site. Learn more about domain names and their importance in our detailed article.</span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                        <div class="help-center-box-item">
                                            <div class="help-center-box-icon">
                                                <i class="fas fa-chart-pie"></i>
                                            </div>
                                            <div class="help-center-box-text">
                                                <span>How cPanel Hosting Works</span>
                                                <span>The cPanel hosting control panel is the most popular control panel out there, but is also quite old and relies on concepts from the year 2000 to get the job done. Learn how cPanel web hosting really works.
                                                </span>
                                            </div>
                                            <a class="help-center-box-link" href="privacy.html"><i
                                                    class="fas fa-angle-right"></i></a>
                                        </div>
                                </div>


                            </div>

                        </div>

                    </div>
                </div>

            </section>

            <%- include('../partials/footer') %>
    </body>

</html>