<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

<body>

    <%- include('../partials/header'); %>

        <main class="container d-flex align-items-center h-100">
            <div class="carousel carousel-main w-100">
                <div class="carousel-cell">
                    <div class="row justify-content-start">
                        <div class="col-lg-8 col-12 white-text">
                            <span class="main-header-top-title">Managed WordPress Hosting</span>
                            <h3 class="main-header-title coodiv-text-3">Get WordPress with free SSL and backups for
                                $5.99/mo</h3>
                            <p class="main-header-sub-title coodiv-text-10 font-weight-light mb-10">Comes with free
                                domain and email. Money-back guarantee</p>
                            <div class="d-flex"><a class="main-header-btn coodiv-text-9 font-weight-bold" href="#">Get
                                    it now <i class="fal fa-arrow-right"></i></a></div>
                        </div>
                    </div>
                </div>

                <div class="carousel-cell">
                    <div class="row justify-content-start">
                        <div class="col-lg-8 col-12 white-text">
                            <span class="main-header-top-title">Web Hosting</span>
                            <h3 class="main-header-title coodiv-text-3">Trust your client sites to the world’s #1 web
                                host.</h3>
                            <p class="main-header-sub-title coodiv-text-10 font-weight-light">Get faster sites — up to
                                nearly 40% average improvement in overall server response times.</p>
                            <div class="d-flex"><a class="main-header-btn coodiv-text-9 font-weight-bold" href="#">See
                                    Plans & Pricing <i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-cell">
                    <div class="row justify-content-start">
                        <div class="col-lg-8 col-12 white-text">
                            <span class="main-header-top-title">Self Managed VPS Hosting</span>
                            <h3 class="main-header-title coodiv-text-3">Get Fully Managed Dedicated Server Hosting.</h3>
                            <p class="main-header-sub-title coodiv-text-9 font-weight-light">Experience high-performance
                                NVMe SSDs powered by Virtuozzo for 3X the speed plus unlimited traffic. You also get KVM
                                virtualization for full control of your hardware resources.</p>
                            <div class="d-flex"><a class="main-header-btn coodiv-text-9 font-weight-bold" href="#">Get
                                    Started <i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div class="main-header-carousel-container container">
            <div class="row justify-content-start">
                <div class="carousel carousel-nav">
                    <div class="carousel-cell">
                        <div class="main-header-carousel-nav">
                            <div class="main-header-carousel-nav-bg"></div>
                            <i class="fal fa-hdd"></i>
                            <h5 class="coodiv-text-9 font-weight-bold">Affordable WordPress Hosting Solution.</h5>
                            <p class="coodiv-text-12 font-weight-light">Get fully-loaded WordPress plans for fast site
                                building and easy maintenance.</p>
                            <ul>
                                <li><i class="fal fa-check" aria-hidden="true"></i> <b>75 GB﻿</b> storage</li>
                                <li><i class="fal fa-check" aria-hidden="true"></i> <b>Daily backups</b> with 1-click
                                    restore</li>
                                <li><i class="fal fa-check" aria-hidden="true"></i> <b>Daily﻿</b> malware scans</li>
                            </ul>
                        </div>
                    </div>

                    <div class="carousel-cell">
                        <div class="main-header-carousel-nav">
                            <div class="main-header-carousel-nav-bg"></div>
                            <i class="fal fa-microchip"></i>
                            <h5 class="coodiv-text-9 font-weight-bold">hosting that's faster — and better.</h5>
                            <p class="coodiv-text-12 font-weight-light">With our latest optimized server hardware,
                                you'll get nearly 40% average improvement in server response.</p>
                            <ul>
                                <li><i class="fal fa-check" aria-hidden="true"></i> <b>Unlimited</b> Storage</li>
                                <li><i class="fal fa-check" aria-hidden="true"></i> <b>Free 1-click</b> WordPress
                                    install</li>
                                <li><i class="fal fa-check" aria-hidden="true"></i> <b>Increased</b> Processing power
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="carousel-cell">
                        <div class="main-header-carousel-nav">
                            <div class="main-header-carousel-nav-bg"></div>
                            <i class="fal fa-server"></i>
                            <h5 class="coodiv-text-9 font-weight-bold">Effortlessly get the power and flexibility you
                                need.</h5>
                            <p class="coodiv-text-12 font-weight-light">Launch your traffic-ready eCommerce site by
                                installing Magento, OpenCart and PrestaShop — with a single click!</p>
                            <ul>
                                <li><i class="fal fa-check" aria-hidden="true"></i> <b>8 CPU</b> Cores</li>
                                <li><i class="fal fa-check" aria-hidden="true"></i> <b>16 GB</b> RAM</li>
                                <li><i class="fal fa-check" aria-hidden="true"></i> <b>400 GB</b> NVMe SSD Storage</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="pt-20 pb-25">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-md-6 col-12 d-flex align-items-center">
                    <div class="content-text-author mb-md-0 mb-14">
                        <p style="color: #ee9823;" class="eyebrow content-text-author_eyebrow">Managed WordPress
                            Ecommerce</p>
                        <h3 class="coodiv-text-4 font-weight-bold">WooCommerce offers powerful online stores.</h3>
                        <p class="content_text_author_description_p">Managed WordPress Ecommerce offers hassle-free
                            online store setup, built-in speed and performance, plus free access to over 40 WooCommerce
                            extensions.</p>
                        <p class="content_text_author_description_p">Build client sites quickly with the latest version
                            of WordPress installed. From there you can start from scratch or save time picking from
                            dozens of flexible, editable themes.</p>
                        <a href="wordpress.html" class="btn btn-dark coodiv-text-11 mt-10">Shop now</a>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div style="background-color: #fede48;" class="section_text_graphic_image">
                        <img src="img/demo/features/yellow-feature.png" alt title loading="lazy" />
                    </div>
                </div>
            </div>

            <div class="row justify-content-start mt-22">
                <div class="col-md-6 col-12">
                    <div style="background-color: #ff5059;" class="section_text_graphic_image">
                        <img src="img/demo/features/red-feature.png" alt title loading="lazy" />
                    </div>
                </div>
                <div class="col-md-6 col-12 d-flex align-items-center">
                    <div class="content-text-author mt-md-0 mt-14">
                        <p style="color: #ff2934;" class="eyebrow content-text-author_eyebrow">Dedicated Server Hosting
                        </p>
                        <h3 class="coodiv-text-4 font-weight-bold">Dedicated Server Hosting for system admins and
                            developers.</h3>
                        <p class="content_text_author_description_p">
                            Calling all experienced developers, system admins or agencies seeking powerful server
                            capabilities: our Dedicated Server Hosting provides high-performance server options with
                            isolated resources to run mission-critical applications where latency and uptime matters.
                        </p>
                        <p class="content_text_author_description_p">
                            All plans come with free standard hosting support. Optional paid server management services
                            include fully managed support and task-based services.
                        </p>
                        <a href="servers.html" class="btn btn-dark coodiv-text-11 mt-10">Configure your Server</a>
                    </div>
                </div>
            </div>

            <div class="row justify-content-start mt-22">
                <div class="col-md-6 col-12 d-flex align-items-center">
                    <div class="content-text-author mb-md-0 mb-14">
                        <p style="color: #079d63;" class="eyebrow content-text-author_eyebrow">Ecommerce</p>
                        <h3 class="coodiv-text-4 font-weight-bold">A fast track to more sales.</h3>
                        <p class="content_text_author_description_p">
                            Did you know that 57% of users will leave your site if it takes longer than 3 seconds to
                            load? That’s a lot of lost revenue. And with Web Hosting Plus, your pages load faster than
                            shared hosting, so more visitors convert to customers.
                        </p>
                        <p class="content_text_author_description_p">
                            With our latest optimized server hardware, you'll get faster sites — up to nearly 40%
                            average improvement in overall server response times*.
                        </p>
                        <a href="dedicated.html" class="btn btn-dark coodiv-text-11 mt-10">See plans and pricing</a>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div style="background-color: #56e7a5;" class="section_text_graphic_image">
                        <img src="img/demo/features/green-feature.png" alt title loading="lazy" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-20 bg-default-2">
        <div class="container">
            <h5 class="title-default-coodiv-two">Choose Web Hosting Plus, here's why</h5>

            <div class="row justify-content-center mt-10">
                <div class="col-md-4">
                    <div class="coodiv-feutres-black-version">
                        <i style="background: #88f6ec;" class="fad fa-chart-pie"></i>
                        <div class="text">
                            <h5 class="coodiv-text-7 font-weight-bold mb-0">Fast speed — CPU and RAM.</h5>
                            <p class="coodiv-text-11 font-weight-light">Get the super-fast speed you're looking for with
                                dedicated CPU and RAM, the processing and memory resources that power fast sites.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="coodiv-feutres-black-version">
                        <i style="background: #79f9c0;" class="fad fa-bell"></i>
                        <div class="text">
                            <h5 class="coodiv-text-7 font-weight-bold mb-0">1-click install — over 150 free apps.</h5>
                            <p class="coodiv-text-11 font-weight-light">Get access to over 150 free apps to create CMS
                                sites (WordPress, Joomla), forums and blogs through Installatron.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="coodiv-feutres-black-version">
                        <i style="background: #fede48;" class="fad fa-binoculars"></i>
                        <div class="text">
                            <h5 class="coodiv-text-7 font-weight-bold mb-0">Global data centers.</h5>
                            <p class="coodiv-text-11 font-weight-light">Get faster page loads and better visitor
                                experience with nearby, state-of-the-art data centers in North America.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-product-introduction-image-wrapper">
                <div class="section-product-introduction-background"></div>
                <img src="img/demo/admin-panel.png" alt="statistics" title="statistics"
                    class="section-product-introduction-image" loading="lazy" />
            </div>
        </div>
    </section>

    <section class="pb-25 position-relative">
        <div class="container">
            <ul class="nav homepage-services-tab-titles mb-15" id="homepageservices" role="tablist">
                <li><a class="active" id="hosting-tab" data-toggle="tab" href="#hosting" role="tab"
                        aria-controls="hosting" aria-selected="true">Linux with cPanel Hosting</a></li>
                <li><a id="vps-tab" data-toggle="tab" href="#vps" role="tab" aria-controls="vps"
                        aria-selected="false">VPS Hosting</a></li>
                <li><a id="emails-tab" data-toggle="tab" href="#emails" role="tab" aria-controls="emails"
                        aria-selected="false">Professional Email</a></li>
            </ul>

            <div class="tab-content" id="homepageservicesContent">
                <div class="tab-pane fade show active" id="hosting" role="tabpanel" aria-labelledby="hosting-tab">
                    <h5 class="title-default-coodiv-two">Trust your client sites to the world’s #1 web host. <span>Get
                            faster sites — up to nearly 40% average improvement in overall server response times.</span>
                    </h5>

                    <div class="row justify-content-center">
                        <div id="monthly-yearly-chenge" class="mr-tp-40 style-two">
                            <a class="active monthly-price"> <span class="change-box-text">billed monthly</span> <span
                                    class="change-box"></span></a>
                            <a class="yearli-price"> <span class="change-box-text">billed annually</span></a>
                        </div>
                    </div>

                    <div class="row justify-content-start second-pricing-table-container mr-tp-30">
                        <div class="col-md-4 px-0">
                            <div class="second-pricing-table">
                                <h5 class="second-pricing-table-title">Pro plan <span>ideal choice for your personal
                                        site</span>
                                </h5>
                                <span class="second-pricing-table-price monthly">
                                    <i class="monthly">$3.75<small>/mo</small></i>
                                    <!-- <i class="yearly">$9.99<small>/year</small></i> -->
                                </span>

                                <ul class="second-pricing-table-body">
                                    <li><strong>2 TB</strong> of space</li>
                                    <li><strong>unlimited</strong> bandwidth</li>
                                    <li><strong>full backup</strong> systems</li>
                                    <li><strong>free</strong> domain</li>
                                    <li><strong>Unlimited</strong> Database</li>
                                    <li class="not-chacked">Fast SSD Storage</li>
                                    <li class="not-chacked">unlimited database</li>
                                </ul>

                                <ul class="second-pricing-table-body-features">
                                    <li>
                                        <span><strong>Dedicated project</strong>big companis,we chose to works with
                                            it</span>
                                    </li>
                                    <li>
                                        <span><strong>Easy feedback sharing</strong>Choose your edition, Try it free for
                                            14 days</span>
                                    </li>
                                </ul>

                                <a class="second-pricing-table-button" href="#">next setup</a>
                            </div>
                        </div>

                        <div class="col-md-4 px-0">
                            <div class="second-pricing-table">
                                <h5 class="second-pricing-table-title">Pro plus plan <span>great for your popular
                                        store</span></h5>
                                <span class="second-pricing-table-price monthly">
                                    <i class="monthly">$8.33<small>/mo</small></i>
                                    <!-- <i class="yearly">$42.99<small>/year</small></i> -->
                                </span>

                                <ul class="second-pricing-table-body">
                                    <li><strong>2 TB</strong> of space</li>
                                    <li><strong>unlimited</strong> bandwidth</li>
                                    <li><strong>full backup</strong> systems</li>
                                    <li><strong>free</strong> domain</li>
                                    <li><strong>Unlimited</strong> Database</li>
                                    <li><strong>Fast</strong> SSD Storage</li>
                                    <li class="not-chacked">unlimited database</li>
                                </ul>

                                <ul class="second-pricing-table-body-features">
                                    <li>
                                        <span><strong>Dedicated project</strong>big companis,we chose to works with
                                            it</span>
                                    </li>
                                    <li>
                                        <span><strong>Easy feedback sharing</strong>Choose your edition, Try it free for
                                            14 days</span>
                                    </li>
                                </ul>

                                <a class="second-pricing-table-button" href="#">next setup</a>
                            </div>
                        </div>

                        <div class="col-md-4 px-0">
                            <div class="second-pricing-table style-2 active">
                                <h5 class="second-pricing-table-title">Expert plan <span>best for advanced
                                        multisites</span></h5>
                                <span class="second-pricing-table-price monthly">
                                    <i class="monthly">$12.00<small>/mo</small></i>
                                    <!-- <i class="yearly">$85.99<small>/year</small></i> -->
                                </span>

                                <ul class="second-pricing-table-body">
                                    <li><strong>2 TB</strong> of space</li>
                                    <li><strong>unlimited</strong> bandwidth</li>
                                    <li><strong>full backup</strong> systems</li>
                                    <li><strong>free</strong> domain</li>
                                    <li><strong>Unlimited</strong> Database</li>
                                    <li><strong>Fast SSD</strong> Storage</li>
                                    <li><strong>unlimited</strong> database</li>
                                </ul>

                                <ul class="second-pricing-table-body-features">
                                    <li>
                                        <span><strong>Dedicated project</strong>big companis,we chose to works with
                                            it</span>
                                    </li>
                                    <li>
                                        <span><strong>Easy feedback sharing</strong>Choose your edition, Try it free for
                                            14 days</span>
                                    </li>
                                </ul>

                                <a class="second-pricing-table-button" href="#">next setup</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tab-pane fade" id="vps" role="tabpanel" aria-labelledby="vps-tab">
                    <h5 class="title-default-coodiv-two">Effortlessly get the power and flexibility you need.<span>Total
                            control with full root access and optional control panels.</span></h5>

                    <div class="table-responsive mt-15">
                        <table id="prices">
                            <thead id="theadHide">
                                <tr class="price-dsc" id="toDisapear">
                                    <th class="features banner">
                                        <div class="banner-servers-box">
                                            <div class="banner-text-left">
                                                <h5>our server is<strong>24% faster</strong></h5>
                                                <p>with under 60 seconds worldwide Deploy!</p>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="checklist left">
                                        <p>
                                            Shoutcast Server
                                            <span class="soft-type">Freemium</span>
                                            <span class="price"><span class="currency currencytags">$</span>1.99</span>
                                        </p>

                                        <div class="call-to-action">
                                            <a>per month</a>
                                            <a class="btn-empty" href="#" target="_blank">Get started</a>
                                        </div>
                                    </th>
                                    <th class="checklist left">
                                        <p>
                                            Shoutcast Server
                                            <span class="soft-type">Business</span>
                                            <span class="price"><span class="currency currencytags">$</span>13</span>
                                        </p>

                                        <div class="call-to-action">
                                            <a>per month</a>
                                            <a class="btn-empty" href="#" target="_blank">Get started</a>
                                        </div>
                                    </th>
                                    <th class="checklist left">
                                        <p>
                                            Shoutcast Server
                                            <span class="soft-type">Enterprise</span>
                                            <span class="price"><span class="currency currencytags">$</span>44</span>
                                        </p>

                                        <div class="call-to-action">
                                            <a>per month</a>
                                            <a class="btn-empty" href="#" target="_blank">Get started</a>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="features-body">
                                <tr class="feature">
                                    <td class="feature">
                                        <span class="name">Compatible With Any Encoder</span>
                                    </td>
                                    <td>
                                        <span class="yes"></span>
                                    </td>
                                    <td>
                                        <span class="yes"></span>
                                    </td>
                                    <td>
                                        <span class="yes"></span>
                                    </td>
                                </tr>

                                <tr class="feature">
                                    <td class="feature">
                                        <span class="name">Unlimited Stations</span>
                                    </td>
                                    <td>
                                        <span class="yes"></span>
                                    </td>
                                    <td>
                                        <span class="yes"></span>
                                    </td>
                                    <td>
                                        <span class="yes"></span>
                                    </td>
                                </tr>
                                <tr class="feature">
                                    <td class="feature">
                                        <span class="name">Live Broadcasting</span>
                                    </td>
                                    <td>
                                        <span class="yes"></span>
                                    </td>
                                    <td>
                                        <span class="yes"></span>
                                    </td>
                                    <td>
                                        <span class="yes"></span>
                                    </td>
                                </tr>
                                <tr class="feature">
                                    <td class="feature">
                                        <span class="name">Unlimited Simultaneous Listeners</span>
                                    </td>
                                    <td>
                                        <span class="yes"></span>
                                    </td>
                                    <td>
                                        <span class="yes"></span>
                                    </td>
                                    <td>
                                        <span class="yes"></span>
                                    </td>
                                </tr>
                                <tr class="feature">
                                    <td class="feature">
                                        <span class="name">MP3&amp;AAC Format Supported </span>
                                        <span class="remark">(up to 320kbps)</span>
                                    </td>
                                    <td>
                                        <span>Limited MP3 128kbps</span>
                                    </td>
                                    <td>
                                        <span class="yes"></span>
                                    </td>
                                    <td>
                                        <span class="yes"></span>
                                    </td>
                                </tr>
                                <tr class="feature">
                                    <td class="feature">
                                        <span class="name">Scalability</span>
                                        <span class="remark">(Support up to 12,000 unique listeners)</span>
                                    </td>
                                    <td>
                                        <span class="no"></span>
                                    </td>
                                    <td>
                                        <span class="yes"></span>
                                    </td>
                                    <td>
                                        <span>Not applicable</span>
                                    </td>
                                </tr>
                                <tr class="feature">
                                    <td class="feature">
                                        <span class="name">Shoutcast Automation System</span>
                                        <span class="remark">(Planner)</span>
                                    </td>
                                    <td>
                                        <span>Not applicable</span>
                                    </td>
                                    <td>
                                        <span>Not applicable</span>
                                    </td>
                                    <td>
                                        <span class="yes"></span>
                                    </td>
                                </tr>
                                <tr class="feature">
                                    <td class="feature">
                                        <span class="name">Support Backup URL</span>
                                    </td>
                                    <td>
                                        <span class="no"></span>
                                    </td>
                                    <td>
                                        <span class="yes"></span>
                                    </td>
                                    <td>
                                        <span>Not applicable</span>
                                    </td>
                                </tr>
                                <tr class="feature">
                                    <td class="feature">
                                        <span class="name">SSL Support</span>
                                    </td>
                                    <td>
                                        <span>Personal &amp; Customisable SSL Certificate</span>
                                    </td>
                                    <td>
                                        <span class="yes"></span>
                                    </td>
                                    <td>
                                        <span class="yes"></span>
                                    </td>
                                </tr>
                                <tr class="feature">
                                    <td class="feature">
                                        <span class="name">Vanity URL</span>
                                    </td>
                                    <td>
                                        <span>Not applicable</span>
                                    </td>
                                    <td>
                                        <span>Not applicable</span>
                                    </td>
                                    <td>
                                        <span class="no"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="emails" role="tabpanel" aria-labelledby="emails-tab">
                    <h5 class="title-default-coodiv-two">Your business will look better than ever.<span>Earn your
                            customers' trust with a professional email address that matches your business name.</span>
                    </h5>

                    <div class="row justify-content-start mt-15">
                        <div class="col-md-4 plan-ssl-special">
                            <h5 class="res-titl">Individual <span>Ideal for getting your business up and running.</span>
                            </h5>
                            <span class="res-price"><i>$</i>0.00 <small>per user/mo</small></span>
                            <span class="plan-discount">With an annual term (60% savings)</span>
                            <span class="res-sub-text">basic encryption <img src="img/demo/ssl.png" alt /></span>

                            <div class="body-ress-v2">
                                <p><b>FREE</b> Email that matches your domain</p>
                                <p>256MB <b> of email storage</b></p>
                                <p><b>Mobile-friendly</b> webmail</p>
                                <p>
                                    <s>Unlimited <b>Premium SSLs</b></s>
                                </p>
                                <p><s>Share calendars and contacts with your team</s></p>
                                <p><s>Works with the email app of your choice</s></p>
                                <p><s>Assign tasks to your team members</s></p>
                                <p>
                                    <s><b>DDOS & spam</b> Protection</s>
                                </p>

                                <p><a class="ress-install-btn" href="#">Get started</a></p>
                            </div>
                        </div>

                        <div class="col-md-4 plan-ssl-special">
                            <h5 class="res-titl">Team <span>Great for collaboration with everyone on your team..</span>
                            </h5>
                            <span class="res-price"><i>$</i>1.33 <small>per user/mo</small></span>
                            <span class="plan-discount">With an annual term (60% savings)</span>
                            <span class="res-sub-text">advanced encryption <img src="img/demo/ssl.png" alt /></span>

                            <div class="body-ress-v2">
                                <p><b>FREE</b> Email that matches your domain</p>
                                <p>5GB <b> of email storage</b></p>
                                <p><b>Mobile-friendly</b> webmail</p>
                                <p>Unlimited <b>Premium SSLs</b></p>
                                <p>Share calendars and contacts with your team</p>
                                <p><s>Works with the email app of your choice</s></p>
                                <p><s>Assign tasks to your team members</s></p>
                                <p>
                                    <s><b>DDOS & spam</b> Protection</s>
                                </p>

                                <p><a class="ress-buy-btn" href="#">buy</a></p>
                            </div>
                        </div>

                        <div class="col-md-4 plan-ssl-special">
                            <h5 class="res-titl">Individual <span>Ideal for getting your business up and running.</span>
                            </h5>
                            <span class="res-price"><i>$</i>4.99 <small>per user/mo</small></span>
                            <span class="plan-discount">With an annual term (60% savings)</span>
                            <span class="res-sub-text">best encryption <img src="img/demo/ssls.png" alt /></span>

                            <div class="body-ress-v2">
                                <p><b>FREE</b> Email that matches your domain</p>
                                <p>UNLIMITED <b> email storage</b></p>
                                <p><b>Mobile-friendly</b> webmail</p>
                                <p>Unlimited <b>Premium SSLs</b></p>
                                <p>Share calendars and contacts with your team</p>
                                <p>Works with the email app of your choice</p>
                                <p>Assign tasks to your team members</p>
                                <p><b>DDOS & spam</b> Protection</p>

                                <p><a class="ress-buy-btn" href="#">buy</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="our-pertners">
        <div class="container">
            <h2 class="d-none">our pertners</h2>
            <div class="owl-carousel pertners-carousel owl-theme">
                <div class="item">
                    <a href="#"> <img src="img/pertners/logo1.png" alt /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="img/pertners/logo2.png" alt /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="img/pertners/logo3.png" alt /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="img/pertners/logo4.png" alt /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="img/pertners/logo5.png" alt /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="img/pertners/logo1.png" alt /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="img/pertners/logo2.png" alt /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="img/pertners/logo3.png" alt /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="img/pertners/logo4.png" alt /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="img/pertners/logo5.png" alt /> </a>
                </div>
            </div>
        </div>

    </section>

    <section class="py-25 border-top">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-md-8 col-12">
                    <div class="title-default-coodiv-four">
                        <p style="color: #079d63;" class="eyebrow content-text-author_eyebrow">All-day, we got your back
                        </p>
                        <h5 class="coodiv-text-5 font-weight-bold">Yep, We’re here for you, Always.</h5>
                        <p class="coodiv-text-9">
                            We're here with the help and advice you need to bring your idea to life. When you're ready
                            to get online, we're prepped, trained, and ready to guide you from start to success.
                        </p>
                    </div>
                </div>
            </div>

            <div class="coodiv-features-box-black-color-carousel">
                <div class="item">
                    <a href="ssl.html" class="coodiv-features-box-black-color">
                        <i style="color: #ff2934;" class="fal fa-database"></i>
                        <h5 class="coodiv-text-8 font-weight-bold mb-0">OpenVZ VPS <span
                                class="coodiv-text-12 font-weight-light">As low as $6.00/mo</span></h5>
                        <p class="coodiv-text-11 mb-1">The OpenVZ-based virtual hosting servers come with a free-of-cost
                            Control Panel</p>
                    </a>
                </div>

                <div class="item">
                    <a href="hosting.html" class="coodiv-features-box-black-color">
                        <i style="color: #ee9823;" class="fal fa-database"></i>
                        <h5 class="coodiv-text-8 font-weight-bold mb-0">KVM VPS <span
                                class="coodiv-text-12 font-weight-light">As low as $6.00/mo</span></h5>
                        <p class="coodiv-text-11 mb-1">The VPSs include root-level access and a variety of Operating
                            Systems</p>
                    </a>
                </div>

                <div class="item">
                    <a href="cpanel.html" class="coodiv-features-box-black-color">
                        <i style="color: #19d681;" class="fal fa-apple-crate"></i>
                        <h5 class="coodiv-text-8 font-weight-bold mb-0">Semi-Dedicated <span
                                class="coodiv-text-12 font-weight-light">As low as $20.00/mo</span></h5>
                        <p class="coodiv-text-11 mb-1">Semi-dedicated servers offer you more than shared hosting plans
                            and are more affordable than dedicated servers</p>
                    </a>
                </div>

                <div class="item">
                    <a href="about.html" class="coodiv-features-box-black-color">
                        <i style="color: #a2fbf3;" class="fal fa-baby-carriage"></i>
                        <h5 class="coodiv-text-8 font-weight-bold mb-0">Dedicated Servers <span
                                class="coodiv-text-12 font-weight-light">As low as $40.00/mo</span></h5>
                        <p class="coodiv-text-11 mb-1">With a dedicated server, you can circumvent all the restrictions
                            pertaining to the shared web hosting solution</p>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="py-25 bg-default-2">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-md-6 col-12">
                    <div class="title-default-coodiv-four">
                        <h5 class="coodiv-text-5 font-weight-bold">Frequently asked questions</h5>
                        <p class="coodiv-text-9">Don’t see what you’re looking for? <a href="contact.html">Shoot us a
                                message!</a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="faq-section-bredh" id="faq">
                        <div class="faq-section-bredh-section">
                            <div class id="faqone">
                                <button class="faq-section-bredh-title" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    What is Web Hosting Plus?
                                </button>
                            </div>

                            <div id="collapseOne" class="faq-section-bredh-text collapse show" aria-labelledby="faqone"
                                data-parent="#faq">
                                <p>
                                    If your website is growing, it’s only a matter of time before you’ll need more power
                                    than shared hosting can provide. Web Hosting Plus delivers the same power and
                                    performance as a Virtual Private Server (VPS) without the pain of server
                                    administration. You get all the RAM, CPU and bandwidth you need without having to
                                    hire an IT pro to manage your server.
                                </p>
                            </div>
                        </div>

                        <div class="faq-section-bredh-section">
                            <div class id="faqtwo">
                                <button class="faq-section-bredh-title" data-toggle="collapse"
                                    data-target="#collapsetwo" aria-expanded="false" aria-controls="collapsetwo">
                                    How do I activate my Professional Email?
                                </button>
                            </div>

                            <div id="collapsetwo" class="faq-section-bredh-text collapse" aria-labelledby="faqtwo"
                                data-parent="#faq">
                                <p>
                                    Your one-year Professional Email can be activated from your Coodiv account. If you
                                    need help migrating your existing email to professional email or want to add more
                                    email IDs, call the Email Services team at <b>00213 123 4556 78.</b>
                                </p>
                            </div>
                        </div>

                        <div class="faq-section-bredh-section">
                            <div class id="faqtree">
                                <button class="faq-section-bredh-title" data-toggle="collapse"
                                    data-target="#collapsetree" aria-expanded="false" aria-controls="collapsetree">
                                    What version of PHP and MySQL do I get with Web Hosting?
                                </button>
                            </div>

                            <div id="collapsetree" class="faq-section-bredh-text collapse" aria-labelledby="faqtree"
                                data-parent="#faq">
                                <p>
                                    Web Hosting comes with PHP 8.1, 8.0, 7.4, 7.3, 5.6 and the latest versions of MySQL
                                    5.6. These are a key requirement for Magento, CMS-Drupal and OpenCart websites and
                                    anyone running multiple WordPress websites.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('../partials/footer') %>
</body>

</html>