<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

<body>
    
        <%- include('../partials/header'); %>


            <main class="container d-flex align-items-center h-100">
                <div class="carousel carousel-main w-100">
                    <div class="carousel-cell">
                        <div class="row justify-content-start">
                            <div class="col-lg-8 col-12 white-text">
                                <span class="main-header-top-title">Custom Domains</span>
                                <h3 class="main-header-title coodiv-text-3">Purchase Your Domain Name</h3>
                                <p class="main-header-sub-title coodiv-text-10 font-weight-light mb-10">Educloud makes
                                    it easy to find the perfect domain for your business or personal brand. Trust us to
                                    help you stand out online and make a great impression on your audience.</p>
                                <div class="d-flex"><a class="main-header-btn coodiv-text-9 font-weight-bold"
                                        href="/shared-hosting">Search Domain Name <i class="fal fa-arrow-right"></i></a></div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-cell">
                        <div class="row justify-content-start">
                            <div class="col-lg-8 col-12 white-text">
                                <span class="main-header-top-title">Web Hosting</span>
                                <h3 class="main-header-title coodiv-text-3">Deploy Your Projects Today</h3>
                                <p class="main-header-sub-title coodiv-text-10 font-weight-light">Experience
                                    lightning-fast website speeds and reliable uptime with EduCloud web hosting - the
                                    perfect choice for businesses and individuals looking for exceptional performance
                                    and top-notch customer support.</p>
                                <div class="d-flex"><a class="main-header-btn coodiv-text-9 font-weight-bold"
                                        href="/shared-hosting">See
                                        Plans & Pricing <i class="fal fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-cell">
                        <div class="row justify-content-start">
                            <div class="col-lg-8 col-12 white-text">
                                <span class="main-header-top-title">Self Managed VPS Hosting</span>
                                <h3 class="main-header-title coodiv-text-3">Secure, High-performance Dedicated Hosting
                                </h3>
                                <p class="main-header-sub-title coodiv-text-9 font-weight-light">Experience
                                    high-performance
                                    NVMe SSDs powered by Virtuozzo for 3X the speed plus unlimited traffic. You also get
                                    KVM
                                    virtualization for full control of your hardware resources.</p>
                                <div class="d-flex"><a class="main-header-btn coodiv-text-9 font-weight-bold"
                                        href="/vps-hosting">See
                                        Plans & Pricing <i class="fal fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <div class="main-header-carousel-container container">
                <div class="row justify-content-start">
                    <div class="carousel carousel-nav">
                        <div class="carousel-cell">
                            <div class="main-header-carousel-nav">
                                <div class="main-header-carousel-nav-bg"></div>
                                <i class="fal fa-hdd"></i>
                                <h5 class="coodiv-text-9 font-weight-bold">Affordable Web Hosting Solution.</h5>
                                <p class="coodiv-text-12 font-weight-light">Get fully-loaded WordPress plans for fast
                                    site
                                    building and easy maintenance.</p>
                                <ul>
                                    <li><i class="fal fa-check" aria-hidden="true"></i> <b>75 GB﻿</b> storage</li>
                                    <li><i class="fal fa-check" aria-hidden="true"></i> <b>Daily backups</b> with
                                        1-click
                                        restore</li>
                                    <li><i class="fal fa-check" aria-hidden="true"></i> <b>Daily﻿</b> malware scans</li>
                                </ul>
                            </div>
                        </div>

                        <div class="carousel-cell">
                            <div class="main-header-carousel-nav">
                                <div class="main-header-carousel-nav-bg"></div>
                                <i class="fal fa-microchip"></i>
                                <h5 class="coodiv-text-9 font-weight-bold">hosting that's faster — and better.</h5>
                                <p class="coodiv-text-12 font-weight-light">With our latest optimized server hardware,
                                    you'll get nearly 40% average improvement in server response.</p>
                                <ul>
                                    <li><i class="fal fa-check" aria-hidden="true"></i> <b>Unlimited</b> Storage</li>
                                    <li><i class="fal fa-check" aria-hidden="true"></i> <b>Free 1-click</b> WordPress
                                        install</li>
                                    <li><i class="fal fa-check" aria-hidden="true"></i> <b>Increased</b> Processing
                                        power
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="carousel-cell">
                            <div class="main-header-carousel-nav">
                                <div class="main-header-carousel-nav-bg"></div>
                                <i class="fal fa-server"></i>
                                <h5 class="coodiv-text-9 font-weight-bold">Effortlessly get the power and flexibility
                                    you
                                    need.</h5>
                                <p class="coodiv-text-12 font-weight-light">Launch your traffic-ready eCommerce site by
                                    installing Magento, OpenCart and PrestaShop — with a single click!</p>
                                <ul>
                                    <li><i class="fal fa-check" aria-hidden="true"></i> <b>8 CPU</b> Cores</li>
                                    <li><i class="fal fa-check" aria-hidden="true"></i> <b>16 GB</b> RAM</li>
                                    <li><i class="fal fa-check" aria-hidden="true"></i> <b>400 GB</b> NVMe SSD Storage
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>


            <section class="pt-20 pb-25">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-md-6 col-12 d-flex align-items-center">
                            <div class="content-text-author mb-md-0 mb-14">
                                <p style="color: #ee9823;" class="eyebrow content-text-author_eyebrow">Managed WordPress
                                    Hosting</p>
                                <h3 class="coodiv-text-4 font-weight-bold">Hassle-Free Wordpress
                                    Hosting
                                </h3>
                                <p class="content_text_author_description_p">With Educloud, you can enjoy lightning-fast
                                    website loading
                                    speeds, industry-leading security features, and expert support from a team of
                                    WordPress specialists. Plus, you'll never have to worry about server maintenance or
                                    updates – we handle it all for you. <br><br>Our managed hosting solution also
                                    includes automatic backups, malware scanning, and uptime monitoring, giving you
                                    peace of mind knowing your website is always up and running smoothly.
                                    <a href="/order-now" class="btn btn-dark coodiv-text-11 mt-10">Get started</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div style="background-color: #fede48;" class="section_text_graphic_image">
                                <img src="img/demo/features/yellow-feature.png" alt title loading="lazy" />
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-start mt-22">
                        <div class="col-md-6 col-12">
                            <div style="background-color: #ff5059;" class="section_text_graphic_image">
                                <img src="img/demo/features/red-feature.png" alt title loading="lazy" />
                            </div>
                        </div>
                        <div class="col-md-6 col-12 d-flex align-items-center">
                            <div class="content-text-author mt-md-0 mt-14">
                                <p style="color: #ff2934;" class="eyebrow content-text-author_eyebrow">Dedicated Server
                                    Hosting
                                </p>
                                <h3 class="coodiv-text-4 font-weight-bold">Secure, High-performance Dedicated Hosting
                                </h3>
                                <p class="content_text_author_description_p">
                                    Our dedicated hosting servers are equipped with the latest hardware and software
                                    technologies, including Intel Xeon processors, DDR4 RAM, and SSD storage. This
                                    ensures that your applications and websites run smoothly and efficiently, with
                                    minimal downtime or lag. <br><br>

                                    In addition, Educloud dedicated hosting comes with 24/7 monitoring and support from
                                    our expert team, who are always available to help you with any technical issues or
                                    questions you may have. We also offer flexible pricing plans to suit your specific
                                    needs and budget, making Educloud dedicated hosting an affordable choice for
                                    educational institutions of all sizes.
                                </p>
                                <a href="servers.html" class="btn btn-dark coodiv-text-11 mt-10">Configure your
                                    Server</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="pb-25 position-relative">
                <div class="container">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                    <div class="tab-content" id="homepageservicesContent">
                        <div class="tab-pane fade show active" id="hosting" role="tabpanel"
                            aria-labelledby="hosting-tab">
                            <h5 class="title-default-coodiv-two">The Right Hosting Plan
                                <span>Get
                                    faster sites — up to nearly 40% average improvement in overall server response
                                    times.</span>
                            </h5>

                            <!-- <div class="row justify-content-center">
                                <div id="monthly-yearly-chenge" class="mr-tp-40 style-two">
                                    <a class="active monthly-price"> <span class="change-box-text">billed monthly</span>
                                        <span class="change-box"></span></a>
                                    <a class="yearli-price"> <span class="change-box-text">billed annually</span></a>
                                </div>
                            </div> -->

                            <div class="row justify-content-start second-pricing-table-container mr-tp-30">
                                <div class="col-md-4 px-0">
                                    <div class="second-pricing-table">
                                        <h5 class="second-pricing-table-title">Pro plan <span>ideal choice for your
                                                personal
                                                site</span>
                                        </h5>
                                        <span class="second-pricing-table-price monthly">
                                            <i class="monthly">$3.75<small>/mo</small></i>
                                            <!-- <i class="yearly">$9.99<small>/year</small></i> -->
                                        </span>

                                        <ul class="second-pricing-table-body">
                                            <li><strong>2 TB</strong> of space</li>
                                            <li><strong>unlimited</strong> bandwidth</li>
                                            <li><strong>full backup</strong> systems</li>
                                            <li><strong>free</strong> domain</li>
                                            <li><strong>Unlimited</strong> Database</li>
                                            <li class="not-chacked">Fast SSD Storage</li>
                                            <li class="not-chacked">unlimited database</li>
                                        </ul>

                                        <ul class="second-pricing-table-body-features">
                                            <li>
                                                <span><strong>Dedicated project</strong>big companis,we chose to works
                                                    with
                                                    it</span>
                                            </li>
                                            <li>
                                                <span><strong>Easy feedback sharing</strong>Choose your edition, Try it
                                                    free for
                                                    14 days</span>
                                            </li>
                                        </ul>

                                        <a class="second-pricing-table-button" href="/order-now">Get started</a>
                                    </div>
                                </div>

                                <div class="col-md-4 px-0">
                                    <div class="second-pricing-table">
                                        <h5 class="second-pricing-table-title">Pro plus plan <span>great for your
                                                popular
                                                store</span></h5>
                                        <span class="second-pricing-table-price monthly">
                                            <i class="monthly">$8.33<small>/mo</small></i>
                                            <!-- <i class="yearly">$42.99<small>/year</small></i> -->
                                        </span>

                                        <ul class="second-pricing-table-body">
                                            <li><strong>Unlimited</strong> storage</li>
                                            <li><strong>Unlimited</strong> bandwidth</li>
                                            <li><strong>1 website</strong> hosted</li>
                                            <li><strong>24/7/365 </strong> support</li>
                                            <li><strong>Unlimited</strong> Database</li>
                                            <li><strong>30 Days</strong> Money Back Guarantee</li>
                                            <li><strong>30 Days</strong> Free Trial</li>
                                        </ul>

                                        <ul class="second-pricing-table-body-features">
                                            <li>
                                                <span><strong>Dedicated project</strong>big companis,we chose to works
                                                    with
                                                    it</span>
                                            </li>
                                            <li>
                                                <span><strong>Easy feedback sharing</strong>Choose your edition, Try it
                                                    free for
                                                    14 days</span>
                                            </li>
                                        </ul>

                                        <a class="second-pricing-table-button" href="/order-now">Get started</a>
                                    </div>
                                </div>

                                <div class="col-md-4 px-0">
                                    <div class="second-pricing-table style-2 active">
                                        <h5 class="second-pricing-table-title">Expert plan <span>best for advanced
                                                multisites</span></h5>
                                        <span class="second-pricing-table-price monthly">
                                            <i class="monthly">$12.00<small>/mo</small></i>
                                            <!-- <i class="yearly">$85.99<small>/year</small></i> -->
                                        </span>

                                        <ul class="second-pricing-table-body">
                                            <li><strong>Unlimited</strong> storage</li>
                                            <li><strong>Unlimited</strong> bandwidth</li>
                                            <li><strong>Unlimited website</strong> hosted</li>
                                            <li><strong>24/7/365 </strong> support</li>
                                            <li><strong>Unlimited</strong> Database</li>
                                            <li><strong>30 Days</strong> Money Back Guarantee</li>
                                            <li><strong>30 Days</strong> Free Trial</li>
                                        </ul>

                                        <ul class="second-pricing-table-body-features">
                                            <li>
                                                <span><strong>Dedicated project</strong>big companis,we chose to works
                                                    with
                                                    it</span>
                                            </li>
                                            <li>
                                                <span><strong>Easy feedback sharing</strong>Choose your edition, Try it
                                                    free for
                                                    14 days</span>
                                            </li>
                                        </ul>

                                        <a class="second-pricing-table-button" href="/order-now">Get started</a>
                                    </div>
                                </div>
                                <div class="col-md-4 px-0">
                                    <div class="second-pricing-table style-2 active">
                                        <h5 class="second-pricing-table-title">Starter plan <span>best for personal
                                                websites</span></h5>
                                        <span class="second-pricing-table-price monthly">
                                            <i class="monthly">$2.75<small>/mo</small></i>
                                            <!-- <i class="yearly">$85.99<small>/year</small></i> -->
                                        </span>

                                        <ul class="second-pricing-table-body">
                                            <li><strong>Unlimited</strong> storage</li>
                                            <li><strong>Unlimited</strong> bandwidth</li>
                                            <li><strong>1 website</strong> hosted</li>
                                            <li><strong>24/7/365 </strong> support</li>
                                            <li><strong>Unlimited</strong> Database</li>
                                            <li><strong>30 Days</strong> Money Back Guarantee</li>
                                            <li><strong>30 Days</strong> Free Trial</li>
                                        </ul>


                                        <a class="second-pricing-table-button" href="/order-now">Get started</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="vps" role="tabpanel" aria-labelledby="vps-tab">
                            <h5 class="title-default-coodiv-two">Effortlessly get the power and flexibility you
                                need.<span>Total
                                    control with full root access and optional control panels.</span></h5>

                            <div class="table-responsive mt-15">
                                <table id="prices">
                                    <thead id="theadHide">
                                        <tr class="price-dsc" id="toDisapear">
                                            <th class="features banner">
                                                <div class="banner-servers-box">
                                                    <div class="banner-text-left">
                                                        <h5>our server is<strong>24% faster</strong></h5>
                                                        <p>with under 60 seconds worldwide Deploy!</p>
                                                    </div>
                                                </div>
                                            </th>
                                            <th class="checklist left">
                                                <p>
                                                    Shoutcast Server
                                                    <span class="soft-type">Freemium</span>
                                                    <span class="price"><span
                                                            class="currency currencytags">$</span>1.99</span>
                                                </p>

                                                <div class="call-to-action">
                                                    <a>per month</a>
                                                    <a class="btn-empty" href="/order-now" target="_blank">Get
                                                        started</a>
                                                </div>
                                            </th>
                                            <th class="checklist left">
                                                <p>
                                                    Shoutcast Server
                                                    <span class="soft-type">Business</span>
                                                    <span class="price"><span
                                                            class="currency currencytags">$</span>13</span>
                                                </p>

                                                <div class="call-to-action">
                                                    <a>per month</a>
                                                    <a class="btn-empty" href="/order-now" target="_blank">Get
                                                        started</a>
                                                </div>
                                            </th>
                                            <th class="checklist left">
                                                <p>
                                                    Shoutcast Server
                                                    <span class="soft-type">Enterprise</span>
                                                    <span class="price"><span
                                                            class="currency currencytags">$</span>44</span>
                                                </p>

                                                <div class="call-to-action">
                                                    <a>per month</a>
                                                    <a class="btn-empty" href="/order-now" target="_blank">Get
                                                        started</a>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="features-body">
                                        <tr class="feature">
                                            <td class="feature">
                                                <span class="name">Compatible With Any Encoder</span>
                                            </td>
                                            <td>
                                                <span class="yes"></span>
                                            </td>
                                            <td>
                                                <span class="yes"></span>
                                            </td>
                                            <td>
                                                <span class="yes"></span>
                                            </td>
                                        </tr>

                                        <tr class="feature">
                                            <td class="feature">
                                                <span class="name">Unlimited Stations</span>
                                            </td>
                                            <td>
                                                <span class="yes"></span>
                                            </td>
                                            <td>
                                                <span class="yes"></span>
                                            </td>
                                            <td>
                                                <span class="yes"></span>
                                            </td>
                                        </tr>
                                        <tr class="feature">
                                            <td class="feature">
                                                <span class="name">Live Broadcasting</span>
                                            </td>
                                            <td>
                                                <span class="yes"></span>
                                            </td>
                                            <td>
                                                <span class="yes"></span>
                                            </td>
                                            <td>
                                                <span class="yes"></span>
                                            </td>
                                        </tr>
                                        <tr class="feature">
                                            <td class="feature">
                                                <span class="name">Unlimited Simultaneous Listeners</span>
                                            </td>
                                            <td>
                                                <span class="yes"></span>
                                            </td>
                                            <td>
                                                <span class="yes"></span>
                                            </td>
                                            <td>
                                                <span class="yes"></span>
                                            </td>
                                        </tr>
                                        <tr class="feature">
                                            <td class="feature">
                                                <span class="name">MP3&amp;AAC Format Supported </span>
                                                <span class="remark">(up to 320kbps)</span>
                                            </td>
                                            <td>
                                                <span>Limited MP3 128kbps</span>
                                            </td>
                                            <td>
                                                <span class="yes"></span>
                                            </td>
                                            <td>
                                                <span class="yes"></span>
                                            </td>
                                        </tr>
                                        <tr class="feature">
                                            <td class="feature">
                                                <span class="name">Scalability</span>
                                                <span class="remark">(Support up to 12,000 unique listeners)</span>
                                            </td>
                                            <td>
                                                <span class="no"></span>
                                            </td>
                                            <td>
                                                <span class="yes"></span>
                                            </td>
                                            <td>
                                                <span>Not applicable</span>
                                            </td>
                                        </tr>
                                        <tr class="feature">
                                            <td class="feature">
                                                <span class="name">Shoutcast Automation System</span>
                                                <span class="remark">(Planner)</span>
                                            </td>
                                            <td>
                                                <span>Not applicable</span>
                                            </td>
                                            <td>
                                                <span>Not applicable</span>
                                            </td>
                                            <td>
                                                <span class="yes"></span>
                                            </td>
                                        </tr>
                                        <tr class="feature">
                                            <td class="feature">
                                                <span class="name">Support Backup URL</span>
                                            </td>
                                            <td>
                                                <span class="no"></span>
                                            </td>
                                            <td>
                                                <span class="yes"></span>
                                            </td>
                                            <td>
                                                <span>Not applicable</span>
                                            </td>
                                        </tr>
                                        <tr class="feature">
                                            <td class="feature">
                                                <span class="name">SSL Support</span>
                                            </td>
                                            <td>
                                                <span>Personal &amp; Customisable SSL Certificate</span>
                                            </td>
                                            <td>
                                                <span class="yes"></span>
                                            </td>
                                            <td>
                                                <span class="yes"></span>
                                            </td>
                                        </tr>
                                        <tr class="feature">
                                            <td class="feature">
                                                <span class="name">Vanity URL</span>
                                            </td>
                                            <td>
                                                <span>Not applicable</span>
                                            </td>
                                            <td>
                                                <span>Not applicable</span>
                                            </td>
                                            <td>
                                                <span class="no"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="emails" role="tabpanel" aria-labelledby="emails-tab">
                            <h5 class="title-default-coodiv-two">Your business will look better than ever.<span>Earn
                                    your
                                    customers' trust with a professional email address that matches your business
                                    name.</span>
                            </h5>

                            <div class="row justify-content-start mt-15">
                                <div class="col-md-4 plan-ssl-special">
                                    <h5 class="res-titl">Individual <span>Ideal for getting your business up and
                                            running.</span>
                                    </h5>
                                    <span class="res-price"><i>$</i>0.00 <small>per user/mo</small></span>
                                    <span class="plan-discount">With an annual term (60% savings)</span>
                                    <span class="res-sub-text">basic encryption <img src="img/demo/ssl.png"
                                            alt /></span>

                                    <div class="body-ress-v2">
                                        <p><b>FREE</b> Email that matches your domain</p>
                                        <p>256MB <b> of email storage</b></p>
                                        <p><b>Mobile-friendly</b> webmail</p>
                                        <p>
                                            <s>Unlimited <b>Premium SSLs</b></s>
                                        </p>
                                        <p><s>Share calendars and contacts with your team</s></p>
                                        <p><s>Works with the email app of your choice</s></p>
                                        <p><s>Assign tasks to your team members</s></p>
                                        <p>
                                            <s><b>DDOS & spam</b> Protection</s>
                                        </p>

                                        <p><a class="ress-install-btn" href="/order-now">Get started</a></p>
                                    </div>
                                </div>

                                <div class="col-md-4 plan-ssl-special">
                                    <h5 class="res-titl">Team <span>Great for collaboration with everyone on your
                                            team..</span>
                                    </h5>
                                    <span class="res-price"><i>$</i>1.33 <small>per user/mo</small></span>
                                    <span class="plan-discount">With an annual term (60% savings)</span>
                                    <span class="res-sub-text">advanced encryption <img src="img/demo/ssl.png"
                                            alt /></span>

                                    <div class="body-ress-v2">
                                        <p><b>FREE</b> Email that matches your domain</p>
                                        <p>5GB <b> of email storage</b></p>
                                        <p><b>Mobile-friendly</b> webmail</p>
                                        <p>Unlimited <b>Premium SSLs</b></p>
                                        <p>Share calendars and contacts with your team</p>
                                        <p><s>Works with the email app of your choice</s></p>
                                        <p><s>Assign tasks to your team members</s></p>
                                        <p>
                                            <s><b>DDOS & spam</b> Protection</s>
                                        </p>

                                        <p><a class="ress-buy-btn" href="#">buy</a></p>
                                    </div>
                                </div>

                                <div class="col-md-4 plan-ssl-special">
                                    <h5 class="res-titl">Individual <span>Ideal for getting your business up and
                                            running.</span>
                                    </h5>
                                    <span class="res-price"><i>$</i>4.99 <small>per user/mo</small></span>
                                    <span class="plan-discount">With an annual term (60% savings)</span>
                                    <span class="res-sub-text">best encryption <img src="img/demo/ssls.png"
                                            alt /></span>

                                    <div class="body-ress-v2">
                                        <p><b>FREE</b> Email that matches your domain</p>
                                        <p>UNLIMITED <b> email storage</b></p>
                                        <p><b>Mobile-friendly</b> webmail</p>
                                        <p>Unlimited <b>Premium SSLs</b></p>
                                        <p>Share calendars and contacts with your team</p>
                                        <p>Works with the email app of your choice</p>
                                        <p>Assign tasks to your team members</p>
                                        <p><b>DDOS & spam</b> Protection</p>

                                        <p><a class="ress-buy-btn" href="#">buy</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section class="py-25 border-top">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-md-8 col-12">
                            <div class="title-default-coodiv-four">
                                <p style="color: #079d63;" class="eyebrow content-text-author_eyebrow">One-stop hosting
                                    shop
                                </p>
                                <h5 class="coodiv-text-5 font-weight-bold">More Than Shared Hosting</h5>
                                <p class="coodiv-text-9">
                                    Educloud provides you with everything you need to get started with hosting your
                                    projects today
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="coodiv-features-box-black-color-carousel">
                        <div class="item">
                            <a href="/openvz-vps-hosting" class="coodiv-features-box-black-color">
                                <i style="color: #ff2934;" class="fal fa-database"></i>
                                <h5 class="coodiv-text-8 font-weight-bold mb-0">OpenVZ VPS <span
                                        class="coodiv-text-12 font-weight-light">As low as $6.00/mo</span></h5>
                                <p class="coodiv-text-11 mb-1">The OpenVZ-based virtual hosting servers come with a
                                    free-of-cost
                                    Control Panel</p>
                            </a>
                        </div>

                        <div class="item">
                            <a href="/kvm-vps-hosting" class="coodiv-features-box-black-color">
                                <i style="color: #ee9823;" class="fal fa-database"></i>
                                <h5 class="coodiv-text-8 font-weight-bold mb-0">KVM VPS <span
                                        class="coodiv-text-12 font-weight-light">As low as $6.00/mo</span></h5>
                                <p class="coodiv-text-11 mb-1">The VPSs include root-level access and a variety of
                                    Operating
                                    Systems</p>
                            </a>
                        </div>

                        <div class="item">
                            <a href="/semi-dedicated-hosting" class="coodiv-features-box-black-color">
                                <i style="color: #19d681;" class="fal fa-apple-crate"></i>
                                <h5 class="coodiv-text-8 font-weight-bold mb-0">Semi-Dedicated <span
                                        class="coodiv-text-12 font-weight-light">As low as $20.00/mo</span></h5>
                                <p class="coodiv-text-11 mb-1">Semi-dedicated servers offer you more than shared hosting
                                    plans
                                    and are more affordable than dedicated servers</p>
                            </a>
                        </div>

                        <div class="item">
                            <a href="/dedicated-hosting" class="coodiv-features-box-black-color">
                                <i style="color: #a2fbf3;" class="fal fa-baby-carriage"></i>
                                <h5 class="coodiv-text-8 font-weight-bold mb-0">Dedicated Servers <span
                                        class="coodiv-text-12 font-weight-light">As low as $40.00/mo</span></h5>
                                <p class="coodiv-text-11 mb-1">With a dedicated server, you can circumvent all the
                                    restrictions
                                    pertaining to the shared web hosting solution</p>
                            </a>
                        </div>
                    </div>
                </div>
            </section>


            <%- include('../partials/footer') %>
    </body>

</html>