<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Bredh flat responsive HTML & WHMCS hosting and domains template">
<meta name="author" content="coodiv.net (nedjai mohamed)">
<link rel="canonical" href="https://coodiv.net/blog/" />
<link rel="icon" href="favicon.ico">
<title>bredh 2.0 | Secure Client Login</title>
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Coodiv creative agency blog" />
    <meta property="og:description" content="We specialize in coding, designing interfaces, web experiences and meaningful products, we’re pretty good at it." />
    <meta property="og:url" content="https://coodiv.net/blog/" />
    <meta property="og:site_name" content="Coodiv creative agency blog" />
    <meta property="og:image" content="https://coodiv.net/blog/wp-content/uploads/2022/05/placeholder.jpg" />
    <meta property="og:image:width" content="1800" />
    <meta property="og:image:height" content="900" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@coodiv" />
	
	
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="icons-pack/fontawesome-5/css/all.css" rel="stylesheet" />


    
    <link href="css/main.min.css" rel="stylesheet" />

<script nonce="54c0ad88-aa5f-4bd2-b62f-9c07f74b11f6">(function(w,d){!function(f,g,h,i){f[h]=f[h]||{};f[h].executed=[];f.zaraz={deferred:[],listeners:[]};f.zaraz.q=[];f.zaraz._f=function(j){return function(){var k=Array.prototype.slice.call(arguments);f.zaraz.q.push({m:j,a:k})}};for(const l of["track","set","debug"])f.zaraz[l]=f.zaraz._f(l);f.zaraz.init=()=>{var m=g.getElementsByTagName(i)[0],n=g.createElement(i),o=g.getElementsByTagName("title")[0];o&&(f[h].t=g.getElementsByTagName("title")[0].text);f[h].x=Math.random();f[h].w=f.screen.width;f[h].h=f.screen.height;f[h].j=f.innerHeight;f[h].e=f.innerWidth;f[h].l=f.location.href;f[h].r=g.referrer;f[h].k=f.screen.colorDepth;f[h].n=g.characterSet;f[h].o=(new Date).getTimezoneOffset();if(f.dataLayer)for(const s of Object.entries(Object.entries(dataLayer).reduce(((t,u)=>({...t[1],...u[1]})))))zaraz.set(s[0],s[1],{scope:"page"});f[h].q=[];for(;f.zaraz.q.length;){const v=f.zaraz.q.shift();f[h].q.push(v)}n.defer=!0;for(const w of[localStorage,sessionStorage])Object.keys(w||{}).filter((y=>y.startsWith("_zaraz_"))).forEach((x=>{try{f[h]["z_"+x.slice(7)]=JSON.parse(w.getItem(x))}catch{f[h]["z_"+x.slice(7)]=w.getItem(x)}}));n.referrerPolicy="origin";n.src="/cdn-cgi/zaraz/s.js?z="+btoa(encodeURIComponent(JSON.stringify(f[h])));m.parentNode.insertBefore(n,m)};["complete","interactive"].includes(g.readyState)?zaraz.init():f.addEventListener("DOMContentLoaded",zaraz.init)}(w,d,"zarazData","script");})(window,document);</script></head>


<body>
    

    <div class="preloader">
        
        <div class="preloader-container">
            <svg version="1.1" id="L5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
                <circle fill="#675cda" stroke="none" cx="6" cy="50" r="6">
                    <animatetransform attributename="transform" dur="1s" type="translate" values="0 15 ; 0 -15; 0 15" repeatcount="indefinite" begin="0.1" />
                </circle>
                <circle fill="#675cda" stroke="none" cx="30" cy="50" r="6">
                    <animatetransform attributename="transform" dur="1s" type="translate" values="0 10 ; 0 -10; 0 10" repeatcount="indefinite" begin="0.2" />
                </circle>
                <circle fill="#675cda" stroke="none" cx="54" cy="50" r="6">
                    <animatetransform attributename="transform" dur="1s" type="translate" values="0 5 ; 0 -5; 0 5" repeatcount="indefinite" begin="0.3" />
                </circle>
            </svg>
            <span>loading</span>
        </div>
    </div>
    

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="card">
                <div class="card-body text-left">
                    <a class="auth-content-logo-header" href="index.html"><img src="https://demo.coodiv.net/html/bredh/html/new-version/img/header/logo-w-f.png" alt></a>
					
                    <h3 class="mb-4 auth-login-title">Login to account <span>Sign up for your trial offer and instantly have deluxe hosting in your account with free domain included.</span></h3>
                    
					<div class="entry__top mt-6 mb-10 social__sign__contanier">
            		<div class="entry__btns mt-2 row">
					<div class="col-6 pr-2">
             		 <button class="button-stroke entry__button d-block w-100"><i class="fab fa-google mr-2"></i> Google</button>
					</div>
					<div class="col-6 pl-2">
            		  <button class="button-stroke entry__button d-block w-100"><i class="fab fa-apple mr-2"></i> Apple ID</button>
					</div>
            		</div>
          		    </div>
					<div class="coodiv-text-12 font-weight-bold mb-4">Or continue with email address</div>
					<div class="input-group mb-3">
                        <input type="email" class="form-control" value="Email">
                    </div>
                    <div class="input-group mb-4">
                        <input type="password" class="form-control" value="password">
                    </div>

                    <button class="btn btn-login-auth shadow-2 mb-4">Login</button>
                    <p class="mb-0 authlost-pass-p">Don’t have an account? <a href="signup.html">Signup</a></p>
                </div>
            </div>
        </div>
    </div>

    
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    
    <script src="js/bootstrap.min.js"></script>
    
    <script src="js/template-scripts.js"></script>
    
    <script src="js/flickity.pkgd.min.js"></script>
    
    <script src="owlcarousel/owl.carousel.min.js"></script>
    
    <script src="js/parallax.min.js"></script>
    
    <script src="js/mailchamp.js"></script>
    
    <script src="js/bootstrap.offcanvas.min.js"></script>
    
    <script src="js/jquery.touchSwipe.min.js"></script>
<script src="../../../../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="5dc12cb2058e45e1e12ef1fd-|49" defer></script><script>(function(){var js = "window['__CF$cv$params']={r:'7b6ae94b7c354935',m:'XKIbLsRoTjQKtBdSZyKFatyKlGS4vD2PTcUb06fMZSI-1681296657-0-AYZa2bXlzUU0JnvEyxNFBM9tdyCT764QJH5kk/l5giw4',u:'/cdn-cgi/challenge-platform/h/g'};var now=Date.now()/1000,offset=14400,ts=''+(Math.floor(now)-Math.floor(now%offset)),_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='/cdn-cgi/challenge-platform/h/g/scripts/alpha/invisible.js?ts='+ts,document.getElementsByTagName('head')[0].appendChild(_cpo);";var _0xh = document.createElement('iframe');_0xh.height = 1;_0xh.width = 1;_0xh.style.position = 'absolute';_0xh.style.top = 0;_0xh.style.left = 0;_0xh.style.border = 'none';_0xh.style.visibility = 'hidden';document.body.appendChild(_0xh);function handler() {var _0xi = _0xh.contentDocument || _0xh.contentWindow.document;if (_0xi) {var _0xj = _0xi.createElement('script');_0xj.nonce = '';_0xj.innerHTML = js;_0xi.getElementsByTagName('head')[0].appendChild(_0xj);}}if (document.readyState !== 'loading') {handler();} else if (window.addEventListener) {document.addEventListener('DOMContentLoaded', handler);} else {var prev = document.onreadystatechange || function () {};document.onreadystatechange = function (e) {prev(e);if (document.readyState !== 'loading') {document.onreadystatechange = prev;handler();}};}})();</script></body>

</html>