<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body>

        <%- include('../partials/header'); %>
    

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="card">
                <div class="card-body text-center">
                    <a class="auth-content-logo-header" href="index.html"><img src="https://demo.coodiv.net/html/bredh/html/new-version/img/header/logo-w-f.png" alt></a>
					
                    <h3 class="mb-4 auth-login-title">Login to your account </h3>
                    <br><br>
                    
					<!-- <div class="entry__top mt-6 mb-10 social__sign__contanier">
            		<div class="entry__btns mt-2 row">
					<div class="col-6 pr-2">
             		 <button class="button-stroke entry__button d-block w-100"><i class="fab fa-google mr-2"></i> Google</button>
					</div>
					<div class="col-6 pl-2">
            		  <button class="button-stroke entry__button d-block w-100"><i class="fab fa-apple mr-2"></i> Apple ID</button>
					</div>
            		</div>
          		    </div> -->
					<!-- <div class="coodiv-text-12 font-weight-bold mb-4">Or continue with email address</div> -->
					<div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Username">
                    </div>
                    <div class="input-group mb-4">
                        <input type="password" class="form-control" placeholder="Password">
                    </div>

                    <button class="btn btn-login-auth shadow-2 mb-4">Login</button>
                    <!-- <p class="mb-0 authlost-pass-p">Don’t have an account? <a href="signup.html">Signup</a></p> -->
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>
</body>

</html>