<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body>

        <%- include('../partials/header'); %>


            <div class="bg-default-2 mx-md-15 mx-5  pt-30 pb-30 position-relative overflow-hidden">
                <div class="container text-center">
                    <div class="col-lg-6 mx-auto">
                        <h1 class="coodiv-text-3 font-weight-bold">SSL Certificates</h1>
                        <p class="coodiv-text-9">Secure Your Data with SSL - Protect Your Website and Build Trust with
                            Your Customers</p>
                    </div>
                </div>
            </div>


            <section>
                <div class="container-fluid">
                    <div class="row justify-content-start mx-md-12 mx-2">

                        <div class="col-md-4 plan-ssl-special">
                            <h5 class="res-titl">starter <span>encryption everywhere</span></h5>
                            <span class="res-price"><i>$</i>2.75</span>
                            <span class="res-sub-text">basic encryption <img src="img/demo/ssl.png" alt /></span>

                            <div class="body-ress-v2">
                                <p><b>FREE</b> Domain Name Included</p>
                                <p>Redundant <b>Daily Backups</b></p>
                                <p>Free <b>CDN & Website</b> Builder</p>
                                <p><s>Unlimited <b>Premium SSLs</s></b></p>
                                <p><s><b>DDOS</b> Protection</s></p>
                                <p><a class="ress-install-btn" href="/order-now">install</a></p>
                            </div>
                        </div>

                        <div class="col-md-4 plan-ssl-special">
                            <h5 class="res-titl">pro <span>encryption everywhere</span></h5>
                            <span class="res-price"><i>$</i>3.75</span>
                            <span class="res-sub-text">advanced encryption <img src="img/demo/ssl.png" alt /></span>

                            <div class="body-ress-v2">
                                <p><b>FREE</b> Domain Name Included</p>
                                <p>Redundant <b>Daily Backups</b></p>
                                <p>Free <b>CDN & Website</b> Builder</p>
                                <p>Unlimited <b>Premium SSLs</b></p>
                                <p><s><b>DDOS</b> Protection</s></p>
                                <p><a class="ress-buy-btn" href="/order-now">buy</a></p>
                            </div>
                        </div>

                        <div class="col-md-4 plan-ssl-special">
                            <h5 class="res-titl">enterpise <span>permium SSL</span></h5>
                            <span class="res-price"><i>$</i>12</span>
                            <span class="res-sub-text">best encryption <img src="img/demo/ssls.png" alt /></span>

                            <div class="body-ress-v2">
                                <p><b>FREE</b> Domain Name Included</p>
                                <p>Redundant <b>Daily Backups</b></p>
                                <p>Free <b>CDN & Website</b> Builder</p>
                                <p>Unlimited <b>Premium SSLs</b></p>
                                <p><b>DDOS</b> Protection</p>
                                <p><a class="ress-buy-btn" href="/order-now">buy</a></p>
                            </div>
                        </div>


                    </div>
                </div>
            </section>

            <section class="py-20 bg-default-2">
                <div class="container">
                    <h5 class="title-default-coodiv-two">What comes with an SSL certificate? <span>Every SSL certificate
                            issued by Educloud comes with these great features.</span></h5>

                    <div class="row justify-content-center mt-10">
                        <div class="col-md-4">
                            <div class="coodiv-feutres-black-version text-center">
                                <i style="background:#88f6ec;" class="fad fa-chart-pie mx-auto"></i>
                                <div class="text">
                                    <h5 class="coodiv-text-7 font-weight-bold mb-0">256-Bit Encryption</h5>
                                    <p class="coodiv-text-11 font-weight-light">Your customers' information will be
                                        encrypted in a way that no online abuser may gain access to it.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="coodiv-feutres-black-version text-center">
                                <i style="background:#79f9c0;" class="fad fa-bell mx-auto"></i>
                                <div class="text">
                                    <h5 class="coodiv-text-7 font-weight-bold mb-0">7-Day Money back Guarantee</h5>
                                    <p class="coodiv-text-11 font-weight-light">If, for whatever reason, you decide that
                                        you no longer need an SSL certificate, you will get your money back, no
                                        questions asked.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="coodiv-feutres-black-version text-center">
                                <i style="background:#fede48;" class="fad fa-binoculars mx-auto"></i>
                                <div class="text">
                                    <h5 class="coodiv-text-7 font-weight-bold mb-0">24x7 Support</h5>
                                    <p class="coodiv-text-11 font-weight-light">Our 24x7 technical support team will be
                                        able to help with any queries you may have about our SSL certificates.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <section class="pt-2 pb-25">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-md-6 col-12 d-flex align-items-center">
                            <div class="content-text-author mb-md-0 mb-14">
                                <p style="color: #ee9823;" class="eyebrow content-text-author_eyebrow">SSL certificate
                                </p>
                                <h3 class="coodiv-text-4 font-weight-bold">Why get an SSL certificate?</h3>
                                <p class="content_text_author_description_p">These days, protection is a crucial site
                                    management aspect. With an SSL Certificate installed on your internet site, your
                                    users' personal details and your name as a trusted service provider will stay
                                    undamaged. Also, considering that Google stated their intention to give a ranking
                                    benefit to SSL-powered sites, SSLs are a must-have even for non-commercial online
                                    portals. educloud offers you reasonably priced SSL Certificates with strong
                                    encryption and re-issue options. Our 7-day money-back warranty will allow you to
                                    test our security services without risk.</p>
                                <p class="content_text_author_description_p">No matter what level of security you
                                    choose,
                                    your users will recognize that your site is safe, and that leads to greater trust in
                                    your brand online.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div style="background-color: transparent;" class="section_text_graphic_image">
                                <img src="https://demo.coodiv.net/html/bredh/html/new-version/img/demo/ssl-link.png" alt
                                    title loading="lazy">
                            </div>
                        </div>
                    </div>


                    <div class="row justify-content-start mt-22">
                        <div class="col-md-6 col-12">
                            <div style="background-color: transparent;" class="section_text_graphic_image">
                                <img src="https://demo.coodiv.net/html/bredh/html/new-version/img/demo/features/services-3.png"
                                    alt title loading="lazy">
                            </div>
                        </div>
                        <div class="col-md-6 col-12 d-flex align-items-center">
                            <div class="content-text-author mt-md-0 mt-14">
                                <p style="color: #ff2934;" class="eyebrow content-text-author_eyebrow">every day, all
                                    the
                                    time</p>
                                <h3 class="coodiv-text-4 font-weight-bold">Multi-Domain SSL</h3>
                                <p class="content_text_author_description_p">Wildcard SSL certificates allow site owners
                                    to
                                    provide security for multiple subdomains on a single unique domain. A wildcard SSL
                                    certificate issued to *.domain.com can be used to secure hostnames such as:</p>
                                <p class="content_text_author_description_p">domain.com; www.domain.com;
                                    login.domain.com;
                                    mail.domain.com</p>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-start mt-22">
                        <div class="col-md-6 col-12 d-flex align-items-center">
                            <div class="content-text-author mb-md-0 mb-14">
                                <p style="color: #ee9823;" class="eyebrow content-text-author_eyebrow">Super fast
                                    development</p>
                                <h3 class="coodiv-text-4 font-weight-bold">Secure certificates for better prices</h3>
                                <p class="content_text_author_description_p">Needing to purchase an SSL certificate
                                    should
                                    not mean breaking the bank. coodiv offers cheap, secure certificates with the
                                    highest
                                    level of encryption available, in line with industry data protection standards. Why
                                    pay
                                    more when you really don’t have to? And because SSL certificate costs are low, you
                                    are
                                    free to spend your budget on other important areas, such as marketing or website
                                    development.</p>
                                <p class="content_text_author_description_p">Anyone with a website these days needs to
                                    purchase an SSL certificate. It’s no longer a nice-to-have security add-on but a
                                    must-have if you want your site to be considered trustworthy. Higher user awareness,
                                    web
                                    browser developers, and search engines are to thank for that.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div style="background-color: transparent;" class="section_text_graphic_image">
                                <img src="https://demo.coodiv.net/html/bredh/html/new-version/img/demo/features/services.png"
                                    alt title loading="lazy">
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <%- include('../partials/footer') %>
    </body>

</html>