<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body>

        <%- include('../partials/header'); %>
	
	
	<div class="bg-default-2 mx-md-15 mx-5 py-20 mt-24">
	<div class="container text-center">
    <h1 class="coodiv-text-2 font-weight-bold">Support Center</h1> <br>
    <div class="col-lg-6 mx-auto">
      <!-- <p class="coodiv-text-9">We, at educloud, are no different than our clients - we too want the service or product that we purchase to work properly, so that we won't need to waste extra time in an attempt to make it work properly. That is why we made the decision to establish our own web hosting company - so that we could supply the service that we ourselves would like to use.<p> -->
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-10">
      </div>
    </div>
    </div>
	</div>

    <!-- <section class="our-pertners mr-tp-0">
        <div class="container">
            <h2 class="d-none">our pertners</h2>
            <div class="owl-carousel pertners-carousel owl-theme">
                <div class="item">
                    <a href="#"> <img src="img/pertners/logo1.png" alt /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="img/pertners/logo2.png" alt /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="img/pertners/logo3.png" alt /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="img/pertners/logo4.png" alt /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="img/pertners/logo5.png" alt /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="img/pertners/logo1.png" alt /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="img/pertners/logo2.png" alt /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="img/pertners/logo3.png" alt /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="img/pertners/logo4.png" alt /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="img/pertners/logo5.png" alt /> </a>
                </div>
            </div>
        </div>
    </section> -->

    <section class="pt-20 pb-25 border-top">
        <div class="container">
		
		   	<div class="row justify-content-start">
                <div class="col-md-6 col-12">
                    <div style="background-color: #ff5059;" class="section_text_graphic_image">
                        <img src="img/demo/features/red-feature.png" alt title loading="lazy">
                    </div>
                </div>
                <div class="col-md-6 col-12 d-flex align-items-center">
                    <div class="content-text-author mt-md-0 mt-14">
                        <!-- <p style="color: #ff2934;" class="eyebrow content-text-author_eyebrow">About Educloud</p> -->
                        <h3 class="coodiv-text-4 font-weight-bold">Context Help</h3>
                        <p class="content_text_author_description_p">If you get lost inside our hosting Control Panel, the first step you should take is to press the Help button, which is visible on each and every page. A pop-up window will appear. It offers comprehensive information about all the operations that you can perform on the given page. Each pop-up window opens on the very same page so that you can quickly return to your work.</p>
                    </div>
                </div>
            </div>
		
            <div class="row justify-content-start  mt-22">
                <div class="col-md-6 col-12 d-flex align-items-center">
                    <div class="content-text-author mb-md-0 mb-14">
                        <!-- <p style="color: #ee9823;" class="eyebrow content-text-author_eyebrow">The Right Hosting</p> -->
                        <h3 class="coodiv-text-4 font-weight-bold">Video Tutorials</h3>
                        <p class="content_text_author_description_p">We have a huge array of instructional video clips demonstrating how to use our hosting Control Panel. They're shot for those of you who want to see how things are being done rather than only reading articles. Thus, everyone can swiftly get to know our Control Panel by merely watching our step-by-step tutorial video clips.</p>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div style="background-color: #fede48;" class="section_text_graphic_image">
                        <img src="img/demo/features/yellow-feature.png" alt title loading="lazy">
                    </div>
                </div>
            </div>
		   	<div class="row justify-content-start">
                <div class="col-md-6 col-12">
                    <div style="background-color: #ff5059;" class="section_text_graphic_image">
                        <img src="img/demo/features/red-feature.png" alt title loading="lazy">
                    </div>
                </div>
                <div class="col-md-6 col-12 d-flex align-items-center">
                    <div class="content-text-author mt-md-0 mt-14">
                        <!-- <p style="color: #ff2934;" class="eyebrow content-text-author_eyebrow">About Educloud</p> -->
                        <h3 class="coodiv-text-4 font-weight-bold">F.A.Q.</h3>
                        <p class="content_text_author_description_p">If you can't find the answer you searching for, take a look at our comprehensive Frequently Asked Questions section, which covers questions asked by actual users and offers practical solutions. We frequently update our FAQ section with new articles so as to cover all the new additions and innovations related to our platform.</p>
                    </div>
                </div>
            </div>
		
            <div class="row justify-content-start  mt-22">
                <div class="col-md-6 col-12 d-flex align-items-center">
                    <div class="content-text-author mb-md-0 mb-14">
                        <!-- <p style="color: #ee9823;" class="eyebrow content-text-author_eyebrow">The Right Hosting</p> -->
                        <h3 class="coodiv-text-4 font-weight-bold">Ticketing System</h3>
                        <p class="content_text_author_description_p">If you still can't discover the answer you are looking for in the Frequently Asked Questions section either, you can touch base with our great team of client support engineers available 24-7 and eager to help you with any question. Each trouble ticket you open will be answered within 1 hour (the average ticket response time being just twenty mins), so you won't have to wait a long time to get your question answered.</p>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div style="background-color: #fede48;" class="section_text_graphic_image">
                        <img src="img/demo/features/yellow-feature.png" alt title loading="lazy">
                    </div>
                </div>
            </div>


		</div>
	</section>
    
    <section class="bg-default-2 position-relative how-it-work-section">
        <div class="container">
		<!-- <h5 class="title-default-coodiv-two">With our services, your business will look better than ever.<span>Earn your customers' trust with a professional email address that matches your business name.</span></h5> -->
            <div class="row justify-content-center mr-tp-70 how-it-work-section-row">
                <div class="col-md-4">
                    <div class="how-it-works-box">
                        <!-- <i class="fa-sharp fa-regular fa-address-card"></i> -->
                        <i class="fal fa-address-card"></i>
                        <h5>Contact Details</h5>
                        <p><strong>US Toll Free Phone</strong>: <br> +1-855-211-0932 </p>
                            <p><strong>US International</strong>: <br> +1-727-546-HOST(4678) </p>
                            <p><strong>UK Phone</strong>: <br> +44-20-3695-1294 </p>
                            <p><strong>AU Phone</strong>: <br> +61-2-8417-2372 </p>
                            <p><strong>OUR ID</strong>: <br> 315284</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="how-it-works-box">
                       <i class="fal fa-debug"></i>
                        <h5>Sales Lines Working Hours</h5>
                        <p><strong>Monday to Friday</strong>: <br> 10.00 AM - 06.00 PM GMT/UK <br> 05.00 AM - 01.00 PM EST/USA <br> 08.00 PM - 04.00 AM EST/AU </p>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="how-it-works-box">
                        <i class="fal fa-shield-alt"></i>
                        <h5>Check your server status</h5>
                        <p>To check the status of your server if you think there is a problem, please go to: <strong><a href="https://properstatus.com/">www.properstatus.com</a></strong> </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <%- include('../partials/footer') %>
</body>

</html>