<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body>

        <%- include('../partials/header'); %>

            <div class="bg-default-2 mx-md-15 mx-5 py-20 mt-24">
                <div class="container text-center">
                    <!-- <span class="main-header-top-title mx-auto">Help center</span> -->
                    <h1 class="coodiv-text-3 font-weight-bold">Videos</h1>
                    <div class="col-lg-6 mx-auto">
                        <p class="coodiv-text-9">These videos will show you one of our top assets - the Hepsia Control
                            Panel. Learn more about our File Manager, which allows you to control multiple websites at
                            the same time, our E-mail manager, which offers you total control over your mailboxes and
                            all the other features, offered by the Hepsia Control Panel.
                        <p>
                    </div>
                </div>
            </div>

            <section class="pt-5 pb-25 position-relative">
                <div class="container">



                    <div class="row justify-content-center nav our-help-center-tabs-nav" id="nav-tab" role="tablist">

                        <a class="col-md-4 active " id="nav-first-help-categorie-tab" data-toggle="modal" data-target=".hespia-video"
                            href="#nav-first-help-categorie" role="tab" aria-controls="nav-first-help-categorie"
                            aria-selected="true">
                            <div class="support-contact-us-box">
                                <i class="fa fa-play-circle"></i>
                                <div class="text">
                                    <h5>Hepsia Control Panel</h5>
                                    <p>Hespia Control Panel: Streamlining Web Hosting Management</p>
                                </div>
                            </div>
                        </a>

                        <a class="col-md-4 active " id="nav-second-help-categorie-tab" data-toggle="modal" data-target=".domain-video"
                            href="#nav-second-help-categorie" role="tab" aria-controls="nav-second-help-categorie-tab"
                            aria-selected="false">
                            <div class="support-contact-us-box">
                                <i class="fa fa-play-circle"></i>
                                <div class="text">
                                    <h5>Point & CLick Domain Manager</h5>
                                    <p>Streamline Domain Management with Point & Click Control Panel</p>
                                </div>
                            </div>
                        </a>

                        <a class="col-md-4 active " id="nav-third-help-categorie-tab-tab" data-toggle="modal" data-target=".database-video"
                            href="#nav-third-help-categorie" role="tab" aria-selected="false">
                            <div class="support-contact-us-box">
                                <i class="fa fa-play-circle"></i>
                                <div class="text">
                                    <h5>Advanced Database Manager</h5>
                                    <p>Exploring the Features and Functions of an Advanced Database Manager</p>
                                </div>
                            </div>
                        </a>

                        <a class="col-md-4 active " id="nav-third-help-categorie-tab-tab" data-toggle="modal" data-target=".file-video"
                            href="#nav-third-help-categorie" role="tab" aria-selected="false">
                            <div class="support-contact-us-box">
                                <i class="fa fa-play-circle"></i>
                                <div class="text">
                                    <h5>Drag & Drop File Manager</h5>
                                    <p>Streamline File Organization with Drag & Drop File Manager</p>
                                </div>
                            </div>
                        </a>

                        <a class="col-md-4 active " id="nav-third-help-categorie-tab-tab" data-toggle="modal" data-target=".email-video"
                            href="#nav-third-help-categorie" role="tab" aria-selected="false">
                            <div class="support-contact-us-box">
                                <i class="fa fa-play-circle"></i>
                                <div class="text">
                                    <h5>Fully-featured Email Manager</h5>
                                    <p>Effortlessly Manage Your Emails with a Fully-Featured Email Manager</p>
                                </div>
                            </div>
                        </a>

                        <a class="col-md-4 active " id="nav-third-help-categorie-tab-tab" data-toggle="modal" data-target=".web-video"
                            href="#nav-third-help-categorie" role="tab" aria-selected="false">
                            <div class="support-contact-us-box">
                                <i class="fa fa-play-circle"></i>
                                <div class="text">
                                    <h5>Web Accelerators</h5>
                                    <p>Boost Your Website's Speed with Web Accelerators</p>
                                </div>
                            </div>
                        </a>

                    </div>

                </div>
            </section>

            <!-- Large modal -->

            <div class="modal fade hespia-video" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                aria-hidden="true">
                <div class="mt-20 modal-dialog modal-lg">
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    <div class="modal-content">
                        <iframe width="100%" height="480" src="https://educloud.duoservers.com/videos/hepsia/Hepsia-intro-640-us.mp4">
                        </iframe>
                    </div>
                </div>
            </div>
            <div class="modal fade domain-video" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                aria-hidden="true">
                <div class="mt-20 modal-dialog modal-lg">
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    <div class="modal-content">
                        <iframe width="100%" height="480" src="https://educloud.duoservers.com/videos/hepsia/Hepsia-Domain-Manager-640-us.mp4">
                        </iframe>
                    </div>
                </div>
            </div>
            <div class="modal fade database-video" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                aria-hidden="true">
                <div class="mt-20 modal-dialog modal-lg">
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    <div class="modal-content">
                        <iframe width="100%" height="480" src="https://educloud.duoservers.com/videos/hepsia/Hepsia-Database-Manager-640-us.mp4">
                        </iframe>
                    </div>
                </div>
            </div>
            <div class="modal fade file-video" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                aria-hidden="true">
                <div class="mt-20 modal-dialog modal-lg">
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    <div class="modal-content">
                        <iframe width="100%" height="480" src="https://educloud.duoservers.com/videos/hepsia/Hepsia-File-Manager-640-us.mp4">
                        </iframe>
                    </div>
                </div>
            </div>
            <div class="modal fade email-video" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                aria-hidden="true">
                <div class="mt-20 modal-dialog modal-lg">
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    <div class="modal-content">
                        <iframe width="100%" height="480" src="https://educloud.duoservers.com/videos/hepsia/Hepsia-Email-Manager-640-us.mp4">
                        </iframe>
                    </div>
                </div>
            </div>
            <div class="modal fade web-video" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                aria-hidden="true">
                <div class="mt-20 modal-dialog modal-lg">
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    <div class="modal-content">
                        <iframe width="100%" height="480" src="https://educloud.duoservers.com/videos/hepsia/Hepsia-Web-Acceleration-640-us.mp4">
                        </iframe>
                    </div>
                </div>
            </div>

            <%- include('../partials/footer') %>
    </body>

</html>