<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body>

        <%- include('../partials/header'); %>


            <div class="mt-20 pt-20 position-relative coodiv-z-index-2">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-7 col-12 text-center">
                            <h1 class="hero-title-header coodiv-text-2 font-weight-bold">Start developing your own
                                server in just <span>30 seconds.</span></h1> <br><br><br><br>
                            <div class="hero-header-features d-flex justify-content-center mt-9"><span>128GB Of
                                    Memory</span> <span>4TB NVME Storage</span> <span>24TB Data Transfer</span></div>
                        </div>
                    </div>
                </div>
            </div>


            <section class="map-server-places-section position-relative mt-n30">
                <div class="container">
                    <div class="map-gene-server-place">
                        <img src="https://demo.coodiv.net/html/bredh/html/new-version/img/maps/map.png" alt />
                        <div class="server-places-spans">
                            <span style="top: 34%;left: 17%;"> <b>USA Server</b> <small
                                    class="good">99.99%</small></span>
                            <span style="top: 76%;left: 29%;"> <b>BRAZIL Server</b> <small
                                    class="avrage">85.70%</small></span>
                            <span style="top: 50%;left: 43%;"> <b>ALGERIA Server</b> <small
                                    class="bad">40.80%</small></span>
                            <span style="top: 30%;left: 70%;"> <b>ASIA Server</b> <small
                                    class="avrage">75.20%</small></span>
                            <span style="top: 82%;left: 76%;"> <b>AUSTRALIA Server</b> <small
                                    class="good">95.89%</small></span>
                        </div>
                    </div>
                </div>
            </section> <br> <br> <br>

            <!-- <section class="pt-5 pb-25">
                <div class="container">

                    <div class="row justify-content-start">
                        <div class="col-md-6 col-12">
                            <div style="background-color: #56e7a5;" class="section_text_graphic_image">
                                <img src="https://demo.coodiv.net/html/bredh/html/new-version/img/demo/features/feature-img-09.png"
                                    alt title loading="lazy">
                            </div>
                        </div>
                        <div class="col-md-6 col-12 d-flex align-items-center">
                            <div class="content-text-author mt-md-0 mt-14">
                                <p style="color: #78daad;" class="eyebrow content-text-author_eyebrow">every day, all
                                    the time</p>
                                <h3 class="coodiv-text-4 font-weight-bold">Developers live here</h3>
                                <p class="content_text_author_description_p">Maximized processing power and speed, SSL
                                    for all sites, unlimited sites, storage and databases. Plus, free matching domain
                                    and free email. (with terms of 12/mo. or longer).</p>
                                <ul class="content_text_author_description_ul">
                                    <li><i class="fas fa-check-circle"></i> Non-Volatile Memory Express (NVMe) Solid
                                        State Drives (SSDs)</li>
                                    <li><i class="fas fa-check-circle"></i> PHP OPCache^</li>
                                    <li><i class="fas fa-check-circle"></i> Substantial I/O Resources</li>
                                </ul>
                            </div>
                        </div>
                    </div>



                </div>
            </section> -->


            <section class="py-20 bg-default-2">
                <div class="container">
                    <h5 class="title-default-coodiv-two">Powerful VPS Hosting<span class="mr-tp-10">high performance
                            100% Intel CPU and 100% SSD bare metal platform.</span></h5>
                    
                    <div class="row justify-content-center mr-tp-10">
                        <div class="col-md-3">
                            <div class="box-features-one">
                                <i class="fal fa-terminal"></i>
                                <div class="text">
                                    <h5>OpenVZ VPS Hosting</h5>
                                    <p>You can use our free-of-cost Hepsia hosting CP, which will allow you to host an unmetered number of domain names</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="box-features-one">
                                <i class="fal fa-globe-stand"></i>
                                <div class="text">
                                    <h5>KVM VPS Hosting</h5>
                                    <p>With educloud, all KVM-powered virtual private web hosting server plans offer one dedicated IP, free-of-cost.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="box-features-one">
                                <i class="fal fa-expand-arrows"></i>
                                <div class="text">
                                    <h5>VPS Hosting in Australia</h5>
                                    <p>For your visitors from Australia and Oceania, we have a data center facility located in Sydney</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="box-features-one">
                                <i class="fal fa-shield-check"></i>
                                <div class="text">
                                    <h5>VPS Hosting in US & UK</h5>
                                    <p>Our datacenter offers ideal conditions for hosting sites whose visitors are physically located in the USA and UK</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="pt-10 pb-10">
                <div class="container">

                    <div class="cta-row-careers">
                        <div class="cta-row-careers_container">
                            <h3>Need a self-managed VPS?</h3>
                            <a href="/order-now" tabindex="0">Get started</a>
                        </div>
                    </div>


                </div>
            </section>

            <%- include('../partials/footer') %>
    </body>

</html>