<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body>

        <%- include('../partials/header'); %>


            <div class="bg-default-2 mx-md-15 mx-5  pt-30 pb-30 position-relative">
                <div class="container text-center">
                    <div class="col-lg-6 mx-auto">
                        <h1 class="coodiv-text-3 font-weight-bold">Hepsia Advanced Features</h1>

                        <p class="coodiv-text-9">The Advanced tab gives you quick access to an array of advanced tools, among them the Memcached distributed memory caching system and the Varnish Cache web accelerator, which will help you optimize your sites and applications without the need to move away from the hosting Control Panel. Based on the hosting plan, these tools are either added by default or are offered in the form of easy-to-get upgrades. InnoDB and NodeJS support is offered too.
                        </p>
                        <div style="display: flex; justify-content: center;"><a class="main-header-btn coodiv-text-9 font-weight-bold" href="https://demo.educatial.store/domains/hosted/?auto_login=true">View Demo<i class="fal fa-arrow-right"></i></a></div>
                    </div>
                </div>
            </div>

            <section class="pt-2 pb-25">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-md-6 col-12 d-flex align-items-center">
                            <div class="content-text-author mb-md-0 mb-14">
                                <!-- <p style="color: #ee9823;" class="eyebrow content-text-author_eyebrow">Hepsia Domain Manager -->
                                </p>
                                <h3 class="coodiv-text-4 font-weight-bold">Varnish
                                </h3>
                                <p class="content_text_author_description_p">Varnish Cache is a web accelerator also called as a caching HTTP reverse proxy. You can install it in front of any server that speaks HTTP and configure it to cache the contents. Varnish Cache is really, really fast and will boost your web site's speed. One of the key features of Varnish Cache is the flexibility of its configuration language, VCL, which enables you to choose how incoming requests should be dealt with.
                                </p>
                                <a href="https://demo.educatial.store/domains/hosted/?auto_login=true">See how it works
                                    ></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div style="background-color: transparent;" class="section_text_graphic_image" width="100">
                                <img src="./img/hespia-1.gif" alt title loading="lazy">
                            </div>
                        </div>
                    </div>


                    <div class="row justify-content-start mt-22">
                        <div class="col-md-6 col-12">
                            <div style="background-color: transparent;" class="section_text_graphic_image">
                                <img src="./img/hespia-2.gif" alt title loading="lazy">
                            </div>
                        </div>
                        <div class="col-md-6 col-12 d-flex align-items-center">
                            <div class="content-text-author mt-md-0 mt-14">
                                <!-- <p style="color: #ff2934;" class="eyebrow content-text-author_eyebrow">every day, all
                                    the
                                    time</p> -->
                                <h3 class="coodiv-text-4 font-weight-bold">Memcached

                                </h3>
                                <p class="content_text_author_description_p">Memcached is a general-purpose memory caching system for increasing the loading speed of dynamic database-driven sites. It is used to lower the number of times an external data source (such as a database or API) is read by caching data and objects in RAM. The Memcached distributed memory object caching system uses a two-tier architecture. The Memcached memory object caching system is employed by some of the most traffic-hungry web sites on the World Wide Web and is supported by popular web apps like Joomla and WordPress.


                                </p>
                                <a href="https://demo.educatial.store/domains/hosted/?auto_login=true">See how it works
                                    ></a>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-start mt-22">
                        <div class="col-md-6 col-12 d-flex align-items-center">
                            <div class="content-text-author mb-md-0 mb-14">
                                <!-- <p style="color: #ee9823;" class="eyebrow content-text-author_eyebrow">Super fast
                                    development</p> -->
                                <h3 class="coodiv-text-4 font-weight-bold">Node.js
                                </h3>
                                <p class="content_text_author_description_p">Node.js is a software system for building scalable network applications. Written in JavaScript, Node.js uses an event-based, non-blocking I/O model that makes it lightweight and efficient, suitable for high-performance data-rich network apps. Node.js uses Google's V8 JavaScript engine, libUV, and several built-in libraries.


                                </p>
                                <a href="https://demo.educatial.store/domains/hosted/?auto_login=true">See how it works
                                    ></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div style="background-color: transparent;" class="section_text_graphic_image">
                                <img src="./img/hespia-3.gif" alt title loading="lazy">
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-start mt-22">
                        <div class="col-md-6 col-12">
                            <div style="background-color: transparent;" class="section_text_graphic_image">
                                <img src="./img/hespia-2.gif" alt title loading="lazy">
                            </div>
                        </div>
                        <div class="col-md-6 col-12 d-flex align-items-center">
                            <div class="content-text-author mt-md-0 mt-14">
                                <!-- <p style="color: #ff2934;" class="eyebrow content-text-author_eyebrow">every day, all
                                    the
                                    time</p> -->
                                <h3 class="coodiv-text-4 font-weight-bold">InnoDB

                                </h3>
                                <p class="content_text_author_description_p">InnoDB is the default storage engine for the MySQL open-source RDBMS. A storage engine is the primary software component that a database management system uses to create, retrieve, update and delete data from a database. The latest release of InnoDB offers serious improvements in efficacy, stability and functionality. InnoDB offers the standard ACID-compliant database transaction properties, along with referential integrity support. It is included as standard in most binaries distributed by MySQL AB.
                                </p>
                                <a href="https://demo.educatial.store/domains/hosted/?auto_login=true">See how it works
                                    ></a>
                            </div>
                        </div>
                    </div>

                </div>
            </section>


            <section>
                <div class="container-fluid">
                    <div class="row justify-content-start mx-md-12 mx-2">

                        <div class="col-md-4 plan-ssl-special">
                            <h5 class="res-titl">Shared <span>Hosting</span></h5>
                            <span class="res-price"><i>$</i>2.75</span>
                            <!-- <span class="res-sub-text">basic encryption <img src="img/demo/ssl.png" alt /></span> -->

                            <div class="body-ress-v2">
                                <p><b>Unlimited</b> Storage</p>
                                <p><b>Unlimited</b> Bandwidth</p>
                                <p><b>1</b> Website hosted</p>
                                <p><b>30-Day</b> Free trial</p>
                                <p><a class="ress-install-btn" href="/order-now">Order now</a></p>
                            </div>
                        </div>
                        <div class="col-md-4 plan-ssl-special">
                            <h5 class="res-titl">KVM <span>VPS</span></h5>
                            <span class="res-price"><i>$</i>6.00</span>
                            <!-- <span class="res-sub-text">basic encryption <img src="img/demo/ssl.png" alt /></span> -->

                            <div class="body-ress-v2">
                                <p><b>20GB</b> Storage</p>
                                <p><b>1TB</b> Bandwidth</p>
                                <p><b>Unlimited</b> Websites hosted</p>
                                <p><b>24/7</b> 365 Support</p>
                                <p><a class="ress-install-btn" href="/order-now">Order now</a></p>
                            </div>
                        </div>
                        <div class="col-md-4 plan-ssl-special">
                            <h5 class="res-titl">Dedicated <span>Servers</span></h5>
                            <span class="res-price"><i>$</i>36.00</span>
                            <!-- <span class="res-sub-text">basic encryption <img src="img/demo/ssl.png" alt /></span> -->

                            <div class="body-ress-v2">
                                <p><b>240GB</b> Storage</p>
                                <p><b>10TB</b> Bandwidth</p>
                                <p><b>Unlimed </b> Websites hosted</p>
                                <p><b>24/7</b> 365 Support</p>
                                <p><a class="ress-install-btn" href="/order-now">Order now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <%- include('../partials/footer') %>
    </body>

</html>