<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body>

        <%- include('../partials/header'); %>


            <div class="bg-default-2 mx-md-15 mx-5 py-20 mt-24">
                <div class="container text-center">
                    <h1 class="coodiv-text-2 font-weight-bold">Why educloud?</h1> <br>
                    <div class="col-lg-6 mx-auto">
                        <p class="coodiv-text-9">At educloud, our goal is to provide innovative shared hosting
                            technologies. Our website hosting services come with lavish hard drive space and data
                            traffic allocations, domain name registration & transfer options, modern Domain and Email
                            Managers, multiple website hosting possibilities, as well as free extras, including a
                            single-click PHP apps installer and a site builder. All web hosting accounts can be easily
                            managed via our multi-language Control Panel. A 24x7 client support service is offered too.
                        <p>
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-10">
                        </div>
                    </div>
                </div>
            </div>

            <section class="py-20">
                <div class="container">

                        <div class="row justify-content-center mt-15">
                                <div class="col-md-6 col-12">
                                    <div class="lead-notes-box">
                                        <h5 class="coodiv-text-8 font-weight-bold">
                                            A point-and-click hosting Control Panel
                                        </h5>
                                        <p class="coodiv-text-10 mb-0">
                                            With your hosting plan, you will get hold of our in-house created hosting CP, which will make administering your online presence a breeze. With a click of the mouse, you will be able to upload a file, to register a domain or to set up a new email account. It's just that easy! You will also be given access to exhaustive real-time traffic stats.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="lead-notes-box">
                                        <h5 class="coodiv-text-8 font-weight-bold">
                                            Custom DNS Records
                                        </h5>
                                        <p class="coodiv-text-10 mb-0">
                                            Via the web hosting CP, you can modify all DNS records associated with your domain names, including their A records, AAAA records, MX records, CNAME records, TXT records and SRV records. In addition, you can easily modify the name servers for a domain and even register custom name servers (for example, ns1.your-domain.com).
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="lead-notes-box">
                                        <h5 class="coodiv-text-8 font-weight-bold">
                                            Advanced tools
                                        </h5>
                                        <p class="coodiv-text-10 mb-0">
                                            In the web hosting Control Panel you will discover the Memcached memory caching system and the Varnish Cache web application accelerator, which will improve your web site's loading speed. NodeJS and InnoDB support is offered too.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="lead-notes-box">
                                        <h5 class="coodiv-text-8 font-weight-bold">
                                            Scalability
                                        </h5>
                                        <p class="coodiv-text-10 mb-0">
                                            We offer a broad range of web hosting solutions, from shared hosting packages to virtual servers and dedicated hosting servers. You can start with a small hosting plan and then upgrade to a more advanced hosting solution like a VPS or a dedicated web hosting server.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="lead-notes-box">
                                        <h5 class="coodiv-text-8 font-weight-bold">
                                            An instant site installer
                                        </h5>
                                        <p class="coodiv-text-10 mb-0">
                                            With your plan, you will get hold of a website installer, which will help you publish your website to the Internet with three clicks of the mouse. Just select your website template and the kind of web site that you wish to install (an online blog, a web store, a photo gallery, etc.) and then press the 'Install' button. It's just that easy! No coding or web design knowledge is needed to use this tool.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="lead-notes-box">
                                        <h5 class="coodiv-text-8 font-weight-bold">
                                            Unmetered features
                                        </h5>
                                        <p class="coodiv-text-10 mb-0">
                                            All our hosting packages offer unmetered disk space and traffic, so you can work on your web sites and never worry about exceeding resource limits. Moreover, we allow you to park an unmetered number of domains and to set up an unmetered number of sub-domains and File Transfer Protocol accounts.
                                        </p>
                                    </div>
                                </div>
                        </div>
                </div>
            </section>



            <%- include('../partials/footer') %>
    </body>

</html>